// This file must be imported before loading html5-boilerplate

$base-font-family: unquote('sans-serif');  // default font-family

$base-font-size: 13px;  // default font-size for YUI fonts

$base-line-height: 1.231;  // default line-height for YUI fonts

/* Golden ratio scale from http://modularscale.com/scale/?px1=12&px2=48&ra1=1.618&ra2=0
---------------------------------------- */
                        // px     em
$font-size-1:369.231%;    //48.000	4
$font-size-2:241.654%;    //31.415	2.618
$font-size-3:228.200%;    //29.666	2.472
$font-size-4:149.354%;    //19.416	1.618
$font-size-5:141.038%;    //18.335	1.528
$font-size-6:92.308%;     //12.000	1

$font-color: #444;

$link-color: #607890;

$link-hover-color: #036;

$link-active-color: #607890;

$link-visited-color: #607890;

$selected-font-color: #fff;  // color for selected text

$selected-background-color: #ff5E99;  // bg-color for selected text

$list-left-margin: 2em;  // left margin for ul an ol

