
	body.out {
		background:white;
	
		div#layout {
			width:920px;
			margin:0 auto; 
			
			header {
				padding:35px 0 45px;
				border-bottom:2px solid #323232;
				
				h1 {
					float:left;
					a {
						font:bold 13px "WhitneyBold","Myriad Pro";
						color:#333333;
						text-decoration:none;
						&:hover {color:black}
					}
				}
				
				ul {
					float:right;
					width:auto;
					
					li {
						display:inline-block;
						vertical-align:top;
						zoom:1;
						width:auto;
						margin:0 0 0 20px;
						
						a {
							font:bold 13px "WhitneyBold","Myriad Pro";
							color:#333333;
							text-decoration:none;
							&:hover {color:#66CCCC}
						}
						
						&.selected a {color:#66CCCC; &:hover {cursor:default}}
					}
				}
			}
			
			h2 {
				margin:45px 0 0 0;
				font:bold 47px "WhitneyBold","Myriad Pro";
				color:#333333;
				line-height:47px;
			}
			
			p.subtitle {
				padding:10px 0 0 0;
				font:normal 17px "Helvetica",Arial;
				color:#999999;
			}
			
			article.data_sources {
				margin:50px 0 0 0;
				
				h4 {
					font:bold 27px "WhitneyBold","Myriad Pro";
					color:#333333;
				}
				
				h6 {
					padding:20px 0 5px 0;
					font:bold 13px "WhitneyBold","Myriad Pro";
					color:#333333;
					border-bottom:2px solid #333333;
				}
				
				ul {
					list-style-image:url('/img/icons/list.png');
					width:100%;
					margin:0;
					padding:5px 0 0 0;
					
					li {
						padding:5px 0;
						font:normal 15px "Helvetica",Arial;
						color:#666666;
					}
				}
			}
			
			section.start {
				position:relative;
				width:918px;
				height:402px;
				margin:45px 0 0 0;
				border:1px solid #CCCCCC;
				background:url('/img/start.jpg') no-repeat 0 0;
				@include box-shadow(0,0,4px,3px,rgba(0,0,0,0.08));
				filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='15', MakeShadow='true', ShadowOpacity='0.40');
				
				div.mamufas {
					position:absolute;
					display:none;
					top:0;
					left:0;
					width:918px;
					height:402px;
					background:url('/img/mamufas.png') no-repeat 0 0;
					
					a {
						position:absolute;
						width:316px;
						height:78px;
						top:50%;
						left:50%;
						margin:-39px 0 0 -158px;
						text-decoration:none;
						@include background(no-repeat,0,-1181px);
						&:hover {background-position:0 -1259px; small {color:white;}}
						
						span {
							display:block;
							width:225px;
							padding:22px 0 0 15px;							
							font:bold 21px "WhitneyBold";
							color:#FFFFFF;
							text-align:center;
							@include text-shadow(#3C7D7D);
							line-height:17px;
							
							small {
								padding:0;
								font:normal 13px "Helvetica",Arial;
								text-shadow:none;
								color:#549A9A;
							}
						}
					}
				}
				
				&:hover {
					div.mamufas {display:block}
				}
			}
			
			section.two_columns {
				width:100%;
				margin:50px 0 0 0;
				display:inline-block;
				
				div.left {width:550px}
				div.right {width:333px}
				
				h4 {
					padding:0 0 5px 0;
					font:bold 13px "WhitneyBold","Myriad Pro";
					color:#333333;
					border-bottom:2px solid #333333;
				}
				
				p {
					padding:12px 0;
					font:normal 17px "Helvetica",Arial;
					color:#666666;
					
					strong {
						font-weight:normal;
						color:#333333;
					}
					
					&.orange {
						font-style:italic;
						color:#FBB986;
					}
				}
				
				ul {
					list-style-image:url('/img/icons/list_green.png');
					width:100%;
					margin:6px 0 0 0;
					
					li {
						padding:7px 0;
						font:normal 15px "Helvetica",Arial;
						color:#666666;
					}
				}				
			}
			
			footer {
				display:inline-block;
				width:100%;
				margin:80px 0 0 0;
				padding:0 0 30px 0;
				
				div {
					border-top:2px solid #CCCCCC;
				}
				
				div.left {
					width:550px;
					padding:10px 0 0 0;
					
					ul {
						list-style:none;
						margin:0;
						padding:0;
					
						li {
							display:inline-block;
							vertical-align:top;
							zoom:1;
							width:auto;
							margin:0 27px 0 0;
							padding:0;
							
							a {
								display:inline-block;
								text-indent:-9999px;
								line-height:0;
								font-size:0;
								
								&.cbd {width:145px; height:48px; @include background(no-repeat,0,-1126px);}
								&.lifeweb {width:121px; height:48px; @include background(no-repeat,-150px,-1127px);}
								&.unep-wcmc {width:96px; height:49px; @include background(no-repeat,-375px,-1123px);}
								&.vizzuality {width:89px; height:47px; @include background(no-repeat,-280px,-1126px);}
							}
							
							
							
							&.last {margin:0}
						}	
					}
				}
				
				div.right {
					width:333px;
					padding:30px 0 0 0;
					p {
						font:normal 15px "Helvetica",Arial;
						color:#B2B2B2;
						a {color:#7F7F7F; text-decoration:none; &:hover {text-decoration:underline}}
					}
				}
			}
		}
	}