
.map_container {
  position: absolute;
  width: 100%;
  height: 100%;
  .map {
    width: 100%;
    height: 100%;
  }

  div.layer_editor {
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 21;
    .layer_raster {
      display: block;
      width: 22px;
      height: 23px;
      background: url('../img/layers_editor.png') no-repeat 0 0;
    }
    .layer_google_maps {
      display: block;
      width: 22px;
      height: 22px;
      background: url('../img/layers_editor.png') no-repeat 0 -23px;
    }

  }

  div.zoom_control {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 22px;
    height: 44px;
    z-index: 10;

    a {
      display: block;
      width: 22px;
      height: 22px;
      text-indent: -9999px;
      background: url('../img/icons/zoom.png') no-repeat 0 0;
      &.zoom_in {
        &:hover {
          background-position: 0 -22px;
        }

      }
      &.zoom_out {
        background-position: -22px 0;
        &:hover {
          background-position: -22px -22px;
        }

      }

    }

  }

  div.crosshair {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    img {
      margin-left: -7px;
      margin-top: -7px;
    }

  }

  #polygon_popup {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width:99px;
    height:11px;
    padding:21px 20px 33px 20px;

    @include background(-325px,-478px,no-repeat);

    a {
      display:inline-block;
      vertical-align:top;
      zoom:1;
      width:42px;
      font:bold 11px "","Myriad Pro";
      color:#66CCCC;
      text-decoration:none;
      text-align:center;
      text-transform:uppercase;
      line-height:11px;

      &#delete {width:50px; color:#FF9933;}
      &:hover {text-decoration:underline}
    }
  }

  .layers {
    position: absolute;
    top: 20px;
    right: 375px;
    padding: 5px 0px;
    border: 1px solid #EEE;
    background: #FFF;
    text-align: right;
    ul {
      width: 150px;
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: left;
      li {
        border-bottom: 1px solid #CCC;
        padding: 3px 0px;
      }
    }

    &:hover .show{
      display: block;
    }
    .show{
      display: none;
    }

  }

}


