
.map_container {
  position: absolute;
  width: 100%;
  height: 100%;
  .map {
    width: 100%;
    height: 100%;
  }

  div.layer_editor {
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 21;
    .layer_raster {
      display: block;
      width: 22px;
      height: 23px;
      background: url('../img/layers_editor.png') no-repeat 0 0;
    }
    .layer_google_maps {
      display: block;
      width: 22px;
      height: 22px;
      background: url('../img/layers_editor.png') no-repeat 0 -23px;
    }

  }

  div.zoom_control {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 22px;
    height: 44px;
    z-index: 10;

    a {
      display: block;
      width: 22px;
      height: 22px;
      text-indent: -9999px;
      background: url('../img/icons/zoom.png') no-repeat 0 0;
      &.zoom_in {
        &:hover {
          background-position: 0 -22px;
        }

      }
      &.zoom_out {
        background-position: -22px 0;
        &:hover {
          background-position: -22px -22px;
        }

      }

    }

  }

  div.crosshair {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    img {
      margin-left: -7px;
      margin-top: -7px;
    }

  }

  #protected_popup{
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    padding: 10px;
    background: #FFF;
    .close {
      float: right;
    }
  }

  #polygon_popup {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width:99px;
    height:11px;
    padding:21px 20px 33px 20px;

    @include background(-325px,-478px,no-repeat);

    a {
      display:inline-block;
      vertical-align:top;
      zoom:1;
      width:42px;
      font:bold 11px "","Myriad Pro";
      color:#66CCCC;
      text-decoration:none;
      text-align:center;
      text-transform:uppercase;
      line-height:11px;

      &#delete {width:50px; color:#FF9933;}
      &:hover {text-decoration:underline}
    }
  }

  .layers {
    position: absolute;
    top: 20px;
    right: 375px;
    width:224px;
    z-index:10;

    a.view {
      float:right;
      display:block;
      width:auto;
      height:33px;
      padding:0 0 0 15px;
      @include background(no-repeat,0,-1035px);
      text-decoration:none;

      span {
        float:left;
        height:13px;
        margin:0;
        padding:11px 32px 9px 5px;
        font:normal 13px "WhitneyBookRegular","Myriad Pro";
        color:#333333;
        @include background(no-repeat,right,-1035px);
        text-indent:0px;
        text-decoration:none;

        strong {
         font:bold 13px "WhitneyBold","Myriad Pro";
        }
      }
    }

    div.show {
      position:absolute;
      top:21px;
      right:0;
      display: none;
      width:224px;
      z-index:-1;

      span.top {
        float:right;
        width:100%;
        height:12px;
        @include background(no-repeat,right,-1411px);
      }

      ul {
        float:right;
        width: 212px;
        padding: 0 6px 5px;
        list-style: none;
        text-align: left;
        @include background(no-repeat,right,bottom);

        li {
          padding: 5px 9px;
          border:none;
          border-bottom: 1px solid #F2F2F2;
          font:normal 13px "Helvetica Neue";
          color:#333333;

          &:last-child {
              border:none;
          }
          &.last {
            border:none;
          }

          &:hover {
            @include background(no-repeat,-270px,-1372px);
            background-color:#EDEDED;
            cursor:pointer!important;
          }

          &.enabled {
            font-weight:bold;
          }

          &.moving {
            border-top:1px solid #CCCCCC;
            border-bottom:1px solid #CCCCCC;
          }
        }

        a.expand {
          display:block;
          width:100%;
          height:9px;
          text-indent:-9999px;
          font-size:0;
          line-height:0;
          @include background(no-repeat,0,-1444px);
          &:hover {background-position:0 -1452px}
        }
      }

    }






    &:hover {

      a.view {
        background-position:left -1072px;

        span {
          background-position:right -1072px;
        }
      }

      .show {
        display: block;
      }
    }

  }

}


