@import "compass/css3";
@import "base";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------

body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;
}

//Headers (h1, h2, etc) have no default font-size or margin; define those yourself
h1, h2, h3, h4, h5, h6 {
  // Bold might not be the best choice if you are
  // embedding a @font-face that's already bold
  font-weight: bold;
}

a, a:active, a:visited { color: $link-color; }
a:hover { color: $link-hover-color; }

strong, th {
  font-weight: bold;
}

small {
  // Use font-size mixin to convert to percentage for YUI
  // http://developer.yahoo.com/yui/3/cssfonts/#fontsize
  @include font-size(11px);  // approx 85% when base-font-size eq 13px
}

// Add the 'required' attribute on your
// inputs if you want to use these
input:valid, textarea:valid {}
input:invalid, textarea:invalid {
  @include border-radius(1px);
  @include box-shadow(red, 0, 0, 5px, 0);
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd; }





//-----------------------------------
// Add your own custom styles below
//-----------------------------------

body.tool {
	header {
	  position:relative;
	  width:100%;
	  height:73px;
	  background:#333333;
		
		div {
			padding:20px;
			
			h1 {
		  	font:bold 13px "WhitneyBold","Myriad Pro";
		  	@include text-shadow(black);
		  	color:#FFFFFF;
		  	&:hover {cursor:default}
	  	}
	  	
	  	p {
		  	font:normal 13px "WhitneyBookRegular","Myriad Pro";
		  	@include text-shadow(black);
		  	color:white;
	  	}
	  	
	  	ul {
		  	float:right;
		  	width:auto;
		  	
		  	li {
		  		display:inline-block;
		  		vertical-align:top;
		  		zoom:1;
			  	width:auto;
			  	
			  	a {
				  	float:left;
					  height:28px;
				  	padding:0 0 0 12px;
						@include background(0,0,no-repeat);
						font:normal 13px "WhitneyBookRegular","Myriad Pro";
		  			@include text-shadow(black);
		  			color:white;
						text-decoration:none;
						
						&:hover {
							text-decoration:underline;
							color:white
						}
						
						span {
							float:left;
							width:auto;
							height:14px;
							padding:6px 12px 8px 0;
							margin:0;
							@include background(right,-28px,no-repeat);
							strong {font:bold 13px "WhitneyBold"};
							line-height:13px;
						}
				  	
				  	&.no_bkg {
				  		margin:6px 12px 0 0;
				  		background:none;
				  		span {background:none}
				  	}
			  	}
		  	}
	  	}
		}
	} // HEADER
}

div.left {float:left}
div.right {float:right}


