@import "compass/css3";
@import "base";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------

body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;
}

//Headers (h1, h2, etc) have no default font-size or margin; define those yourself
h1, h2, h3, h4, h5, h6 {
  // Bold might not be the best choice if you are
  // embedding a @font-face that's already bold
  font-weight: bold;
}

a, a:active, a:visited { color: $link-color; }
a:hover { color: $link-hover-color; }

strong, th {
  font-weight: bold;
}

small {
  // Use font-size mixin to convert to percentage for YUI
  // http://developer.yahoo.com/yui/3/cssfonts/#fontsize
  @include font-size(11px);  // approx 85% when base-font-size eq 13px
}

// Add the 'required' attribute on your
// inputs if you want to use these
input:valid, textarea:valid {}
input:invalid, textarea:invalid {
  @include border-radius(1px);
  @include box-shadow(red, 0, 0, 5px, 0);
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd; }





//-----------------------------------
// Add your own custom styles below
//-----------------------------------

body.tool {
  header {
    position:relative;
    width:100%;
    height:73px;
    background:#333333;


    div.share_tooltip {
      display: none;
      position: absolute;
      top: 30px;
      left: -145px;
      z-index: 100;
      @include background(left,-1700px,no-repeat);
      padding: 33px 20px 20px 20px;
      width: 312px;
      .close {
        float: right;
        width: 12px;
        height: 17px;
        @include background(right,-1258px,no-repeat);
        &:hover {
          //@include background(right,-1275px,no-repeat);
        }
      }

      h1 {
        margin: 0 0 5px;
        padding: 0;
        text-transform: uppercase;
        color: #333;
        text-shadow: none;
      }
      .link {
        width: 297px;
        background-color: rgb(242, 242, 242);
        border: 1px solid #999999;
        padding: 5px;
        color: #666666;
        text-shadow: none;
      }
    }

    div {
      padding:20px;

      h1 {
        font:bold 13px "WhitneyBold","Myriad Pro";
        @include text-shadow(black);
        color:#FFFFFF;
        &:hover {cursor:default}
      }

      p {
        font:normal 13px "WhitneyBookRegular","Myriad Pro";
        @include text-shadow(black);
        color:white;
      }

      ul {
        float:right;
        width:auto;

        li {
          @include inline-block();
          width:auto;

          a {
            float:left;
            height:28px;
            height:26px\9;
            padding:0 0 0 12px;
            @include background(0,0,no-repeat);
            font:normal 13px "WhitneyBookRegular","Myriad Pro";
            @include text-shadow(black);
            color:white;
            border:none;
            text-decoration:none;

            &:hover {
              text-decoration:underline;
              color:white
            }

            span {
              float:left;
              width:auto;
              height:14px;
              height:12px\9;
              padding:6px 12px 8px 0;
              margin:0;
              @include background(right,-28px,no-repeat);
              strong {font:bold 13px "WhitneyBold"};
              line-height:13px;
            }

            &.no_bkg {
              margin:6px 12px 0 0;
              background:none;
              span {background:none}
            }
          }
        }
      }
    }
  } // HEADER
}

div.left {float:left}
div.right {
  float:right;
  position: relative;
}


