@import "base";

#start_banner {
  $height: 324px;
  position: absolute;
  top: 50%;
  left:0;
  height: $height;
  width: 100%;
  margin-top: -$height/2;
  background: white;
  text-align: center;
  border-bottom:1px solid #CCCCCC;
  border-top:1px solid #CCCCCC;
  @include vertical-double-box-shadow(0,-10px,10px,0,rgba(0,0,0,0.1));

  .inner {
    width: 765px;
    height:324px;
    margin: 0 auto;
    text-align: left;
    @include background(right,-56px,no-repeat);
    
    .help {
      width: 385px;
      padding:58px 0 0 0;
      
      h1 {
      	display:block;
      	width:100%;
      	padding:0 0 10px 0;
      	border-bottom:2px solid #666666;
	      text-transform:uppercase;
	      font:bold 11px "WhitneyBold","Myriad Pro";
	  		color:#333333;
      }
      
      p {
      	margin:12px 0 0 0;
	      font:normal 15px "Helvetica Neue",Arial;
	      color:#333333;
	      &.margin {margin:20px 0 0 0;}
      }
      
      button {      	
	      float:right;
	      width:auto;
	      height:47px;
	      margin:23px 0 0 0;
	      padding:0 0 0 21px;
	      border:none;
	      @include background(left,-380px,no-repeat);
	 		  font:bold 15px "WhitneyBold","Myriad Pro";
	  		color:#333333;     
	      
	      span {
		      float:right;
		      height:15px;
		      padding:17px 21px 19px 0;

		      @include background(right,-427px,no-repeat);
		      line-height:15px;
		      text-transform:uppercase;
	      }
	      
	      &:hover span {color:black; text-decoration:underline}
      }
    }

  }

  button {
    float: right;
  }

}
