@import "base";

div#filter_pane {
  position: relative;

  div.filter_editor {
    margin: 10px;
    padding: 5px;
    overflow:hidden;
    background-color: white;
    border: 1px solid #999;
    position: absolute;
    top: 0;
    display:none;

    div.selector {
      height:100px;
      overflow:scroll;
      border: 1px solid #CCC;
      padding: 2px;
      margin-bottom: 5px;
    }

    button#finish-species-edit {
      float:right;
    }
  }
}
