@import "base";

div#graph_container {
  z-index:1;
  overflow:hidden;

  div#graph {
    padding: 15px;
    float:left;
    width: 480px;

  }

  div#filter_pane {
    float:left;
    width: 430px;
    padding: 10px;
    @include border-bottom-right-radius(7px);
    @include background-image(linear-gradient(left, #6EB225, #5EAA26));

    ul#filters {
      list-style-type:none;
      font-size: 15px;
      margin-left: 0;
      background-color: white;
      border: 1px solid #999;
      @include border-radius(7px);

      li {
        padding: 10px;
        border-top: 1px solid #999;

        .filter-slider {
          width: 200px;
          float:right;
        }
      }
      li:first-child {
        border-top: 0;
      }

      li.active {
        color:white;
        @include background-image(linear-gradient(#0091D7, #0480C2));
        
      }
    }

    span#result_strip {
      padding: 10px;
      float:right;
      font-size: 24px;
      color: #EEE;

      span#result_count {
        font-size: 30px;
        font-weight: bold;
        color:white;
      }
    }
  }
}
