@import "base";

.btn {
  border: 1px solid gainsboro;
  border-image: initial;
  display: inline-block;
  color: #777;
  font-size: 15px;
  font-weight: normal;
  padding: 3px 5px;
  text-decoration: none;
  text-shadow: 1px 1px 5px white;
  @include background-image(linear-gradient(#EDEDED, #DFDFDF));
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  @include border-radius(4px);
}

div#results_container {
  z-index:1;
  overflow:scroll;
  height:100%;
  width: 659px;
  border-left: 1px solid #CCC;
  float:left;


  div#table_header {
    background-image: url(/img/matt_black.412998.png);
    overflow:hidden;
    border-top: 1px solid #555;
    padding: 5px;

    h3{
      color: white;
      float:left;
      margin: 4px 0;
    }
    a {
      float:right;
      margin-top: 2px;
      margin-left: 5px;
      padding: 5px;
      color:white;
      @include border-radius(4px);
      @include background-image(linear-gradient(#FFBB00, #AD4308));
    }
  }

  table#results-table {
    display: block;
    width: 659px;
    overflow:scroll;

    tr:nth-child(odd){
      background-color: #EEE;
    }

    td, th {
      text-align:left;
      padding: 5px;
      border: 1px solid black;
    }
    th {
      background-color: #474747;
      color: white;
    }
    td:odd {
    }
  }
}

div#filter_pane {
  float: left;
  width: 300px;
  height: 100%;
  background-image: url('/img/matt_light_green.png');

  ul.filters {
    list-style-type:none;
    font-size: 15px;
    margin: 10px;
    margin-bottom: 15px;
    background-color: white;
    border: 1px solid #999;
    @include border-radius(7px);

    li {
      padding: 10px;
      border-top: 1px solid #999;

      .filter-slider {
        width: 190px;
        float: right;
        margin-right: 7px;
      }

    }
    li:first-child {
      border-top: 0;
      @include border-radius(5px 5px 0 0);
    }
    li:last-child {
      @include border-radius(0 0 5px 5px);
    }
    li.response {
      .ui-widget-header {
        @include background-image(linear-gradient(left, #443333, #FF0000)); 
      }
    }
    li.biodiversity {
      .ui-widget-header {
        @include background-image(linear-gradient(left, #334433, #00FF00)); 
      }
    }
    li.uncertainty {
      .ui-widget-header {
        @include background-image(linear-gradient(left, #333344, #0000FF)); 
      }
    }

    li.active {
      color:white;
      @include background-image(linear-gradient(#0091D7, #0480C2));
    }

    i {
      color: #999;
    }
    span.btn {
      float:right;
      position:relative;
      top: -4px;
    }
  }

  div#result-area {
    background-image: url('/img/matt_black.png');
    height:90px;
    margin-top: 253px;
    overflow:hidden;

    span#result-strip {
      padding: 10px;
      float:left;
      font-size: 24px;
      color: #EEE;

      span#result-count {
        font-size: 30px;
        font-weight: bold;
        color:white;
      }
    }

    div#view-selector {
      float:right;
      margin-top: 20px;
      a {
        width:70px;
        text-align:center;
        padding: 5px;
        margin:0;
        color:white;
        border-left: 1px solid #666;
        @include background-image(linear-gradient(#FFBB00, #AD4308));
      }
      a:active {
        @include background-image(linear-gradient(#AD4308, #FFBB00));
      }
      a:first-child {
        @include border-top-left-radius(4px);
        @include border-bottom-left-radius(4px);
        border-left: 0;
      }
    }

    a.share_button {
      color:white;
      padding: 5px;
      margin-left: 10px;
      margin-top: 5px;
      border: 1px solid black;
      @include border-radius(3px);
    }
  }
}
