/* Golden ratio scale from http://modularscale.com/scale/?px1=12&px2=48&ra1=1.618&ra2=0
---------------------------------------- */
/* line 14, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 23, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 27, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 30, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 34, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 36, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 38, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 40, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 42, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 11, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_fonts.scss */
body {
  font-size: 13px;
  font-family: sans-serif;
  line-height: 1.231;
  *font-size: small;
}

/* line 20, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_fonts.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* line 15, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 17, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
ul, ol {
  margin-left: 2em;
}

/* line 18, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
ol {
  list-style-type: decimal;
}

/* line 20, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
td {
  vertical-align: top;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  bottom: -0.25em;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  top: -0.5em;
}

/* line 53, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
a:hover, a:active {
  outline: none;
}

/* line 58, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px;
}

/* line 71, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer;
}

/* line 80, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
button, input, select, textarea {
  width: auto;
  overflow: visible;
  margin: 0;
  font-size: 100%;
  font-family: sans-serif;
  vertical-align: baseline;
}

/* line 84, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
textarea {
  overflow: auto;
  vertical-align: text-top;
}

/* line 88, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 99, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
::-moz-selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 100, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
::selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 105, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
a:link {
  -webkit-tap-highlight-color: #ff5e99;
}

/* line 118, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 120, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* line 125, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}

/* line 10, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.ir {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  direction: ltr;
  background-repeat: no-repeat;
}

/* line 12, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 14, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 50, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 16, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.clearfix {
  zoom: 1;
}
/* line 61, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 62, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.clearfix:after {
  clear: both;
}

/* line 8, ../../css_src/partials/_page.scss */
body, select, input, textarea {
  color: #444444;
}

/* line 15, ../../css_src/partials/_page.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* line 21, ../../css_src/partials/_page.scss */
a, a:active, a:visited {
  color: #607890;
}

/* line 22, ../../css_src/partials/_page.scss */
a:hover {
  color: #003366;
}

/* line 24, ../../css_src/partials/_page.scss */
strong, th {
  font-weight: bold;
}

/* line 28, ../../css_src/partials/_page.scss */
small {
  font-size: 85%;
}

/* line 37, ../../css_src/partials/_page.scss */
input:invalid, textarea:invalid {
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -o-border-radius: 1px;
  -ms-border-radius: 1px;
  -khtml-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: 0 0 5px 0 red;
  -webkit-box-shadow: 0 0 5px 0 red;
  -o-box-shadow: 0 0 5px 0 red;
  box-shadow: 0 0 5px 0 red;
}

/* line 42, ../../css_src/partials/_page.scss */
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/* line 2, ../../css_src/partials/_map.scss */
.map_container {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* line 6, ../../css_src/partials/_map.scss */
.map_container .map {
  width: 100%;
  height: 100%;
}
/* line 11, ../../css_src/partials/_map.scss */
.map_container div.layer_editor {
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 21;
}
/* line 16, ../../css_src/partials/_map.scss */
.map_container div.layer_editor .layer_raster {
  display: block;
  width: 22px;
  height: 23px;
  background: url("../img/layers_editor.png") no-repeat 0 0;
}
/* line 22, ../../css_src/partials/_map.scss */
.map_container div.layer_editor .layer_google_maps {
  display: block;
  width: 22px;
  height: 22px;
  background: url("../img/layers_editor.png") no-repeat 0 -23px;
}
/* line 31, ../../css_src/partials/_map.scss */
.map_container div.zoom_control {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 22px;
  height: 44px;
  z-index: 10;
}
/* line 39, ../../css_src/partials/_map.scss */
.map_container div.zoom_control a {
  display: block;
  width: 22px;
  height: 22px;
  text-indent: -9999px;
  background: url("../img/icons/zoom.png") no-repeat 0 0;
}
/* line 46, ../../css_src/partials/_map.scss */
.map_container div.zoom_control a.zoom_in:hover {
  background-position: 0 -22px;
}
/* line 51, ../../css_src/partials/_map.scss */
.map_container div.zoom_control a.zoom_out {
  background-position: -22px 0;
}
/* line 53, ../../css_src/partials/_map.scss */
.map_container div.zoom_control a.zoom_out:hover {
  background-position: -22px -22px;
}
/* line 63, ../../css_src/partials/_map.scss */
.map_container div.crosshair {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
}
/* line 68, ../../css_src/partials/_map.scss */
.map_container div.crosshair img {
  margin-left: -7px;
  margin-top: -7px;
}
/* line 75, ../../css_src/partials/_map.scss */
.map_container #polygon_popup {
  position: absolute;
  background-color: #FFFFFF;
  padding: 15px;
  top: 0;
  left: 0;
  display: none;
}

/* line 2, ../../css_src/partials/_panel.scss */
#panel {
  position: absolute;
  background-color: #FFF;
  padding: 0;
  right: 0;
  height: 100%;
  width: 300px;
}
/* line 10, ../../css_src/partials/_panel.scss */
#panel p {
  margin: 5px 0;
}
/* line 13, ../../css_src/partials/_panel.scss */
#panel h2, #panel h1 {
  margin: 10px 0;
}
/* line 18, ../../css_src/partials/_panel.scss */
#panel #tabs ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 22, ../../css_src/partials/_panel.scss */
#panel #tabs ul li {
  float: left;
  border-right: 1px solid #BBB;
  border-bottom: 1px solid #BBB;
  margin: 0;
  padding: 20px 10px;
}
/* line 28, ../../css_src/partials/_panel.scss */
#panel #tabs ul li.total {
  width: 100%;
}
/* line 31, ../../css_src/partials/_panel.scss */
#panel #tabs ul li.enabled {
  border-bottom-width: 0;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
}
/* line 43, ../../css_src/partials/_panel.scss */
#panel #tab_content {
  margin: 0;
  clear: both;
  border: 1px solid #BBB;
  border-top-width: 0;
  list-style: none;
}
/* line 49, ../../css_src/partials/_panel.scss */
#panel #tab_content li {
  display: none;
}

/* line 3, ../../css_src/partials/_start_banner.scss */
#start_banner {
  position: absolute;
  height: 300px;
  width: 100%;
  top: 50%;
  margin-top: -150px;
  background-color: white;
  text-align: center;
}
/* line 13, ../../css_src/partials/_start_banner.scss */
#start_banner .inner {
  width: 800px;
  margin: 40px auto;
  text-align: left;
}
/* line 17, ../../css_src/partials/_start_banner.scss */
#start_banner .inner .help {
  width: 400px;
}
/* line 23, ../../css_src/partials/_start_banner.scss */
#start_banner button {
  float: right;
}

@media print {
  /* line 10, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 12, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* line 13, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 14, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 15, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 16, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 17, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  thead {
    display: table-header-group;
  }

  /* line 18, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 19, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 21, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 22, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
