/* Golden ratio scale from http://modularscale.com/scale/?px1=12&px2=48&ra1=1.618&ra2=0
---------------------------------------- */
/* Carbon tool mixins */
/* line 14, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 23, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 27, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 30, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 34, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 36, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 38, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 40, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 42, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 11, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_fonts.scss */
body {
  font-size: 13px;
  font-family: sans-serif;
  line-height: 1.231;
  *font-size: small;
}

/* line 20, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_fonts.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* line 15, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 17, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
ul, ol {
  margin-left: 2em;
}

/* line 18, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
ol {
  list-style-type: decimal;
}

/* line 20, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
td {
  vertical-align: top;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  bottom: -0.25em;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  top: -0.5em;
}

/* line 53, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
a:hover, a:active {
  outline: none;
}

/* line 58, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px;
}

/* line 71, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer;
}

/* line 80, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
button, input, select, textarea {
  width: auto;
  overflow: visible;
  margin: 0;
  font-size: 100%;
  font-family: sans-serif;
  vertical-align: baseline;
}

/* line 84, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
textarea {
  overflow: auto;
  vertical-align: text-top;
}

/* line 88, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 99, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
::-moz-selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 100, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
::selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 105, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
a:link {
  -webkit-tap-highlight-color: #ff5e99;
}

/* line 118, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 120, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* line 125, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}

/* line 10, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.ir {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  direction: ltr;
  background-repeat: no-repeat;
}

/* line 12, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 14, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 50, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 16, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.clearfix {
  zoom: 1;
}
/* line 61, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 62, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.clearfix:after {
  clear: both;
}

/* Golden ratio scale from http://modularscale.com/scale/?px1=12&px2=48&ra1=1.618&ra2=0
---------------------------------------- */
/* Carbon tool mixins */
/* line 9, ../../css_src/partials/_page.scss */
body, select, input, textarea {
  color: #444444;
}

/* line 16, ../../css_src/partials/_page.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* line 22, ../../css_src/partials/_page.scss */
a, a:active, a:visited {
  color: #607890;
}

/* line 23, ../../css_src/partials/_page.scss */
a:hover {
  color: #003366;
}

/* line 25, ../../css_src/partials/_page.scss */
strong, th {
  font-weight: bold;
}

/* line 29, ../../css_src/partials/_page.scss */
small {
  font-size: 85%;
}

/* line 38, ../../css_src/partials/_page.scss */
input:invalid, textarea:invalid {
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -o-border-radius: 1px;
  -ms-border-radius: 1px;
  -khtml-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: 0 0 5px 0 red;
  -webkit-box-shadow: 0 0 5px 0 red;
  -o-box-shadow: 0 0 5px 0 red;
  box-shadow: 0 0 5px 0 red;
}

/* line 43, ../../css_src/partials/_page.scss */
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

@font-face {
  font-family: 'WhitneyBookRegular';
  src: url("/fonts/whitney-book-webfont.eot");
  src: url("/fonts/whitney-book-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/whitney-book-webfont.woff") format("woff"), url("/fonts/whitney-book-webfont.ttf") format("truetype"), url("/fonts/whitney-book-webfont.svg#WhitneyBookRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WhitneyBold';
  src: url("/fonts/whitney-bold-webfont.eot");
  src: url("/fonts/whitney-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/whitney-bold-webfont.woff") format("woff"), url("/fonts/whitney-bold-webfont.ttf") format("truetype"), url("/fonts/whitney-bold-webfont.svg#WhitneyBold") format("svg");
  font-weight: bold;
  font-style: bold;
}

/* line 80, ../../css_src/partials/_page.scss */
div.left {
  float: left;
}

/* line 81, ../../css_src/partials/_page.scss */
div.right {
  float: right;
}

/* line 84, ../../css_src/partials/_page.scss */
header {
  position: relative;
  width: 100%;
  height: 73px;
  background: #333333;
}
/* line 90, ../../css_src/partials/_page.scss */
header div {
  padding: 20px;
}
/* line 93, ../../css_src/partials/_page.scss */
header div h1 {
  font: bold 13px "WhitneyBold","Myriad Pro";
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#000000', Direction=270, Strength=1);
  text-shadow: 0 1px 0 black;
  color: #FFFFFF;
}
/* line 97, ../../css_src/partials/_page.scss */
header div h1:hover {
  cursor: default;
}
/* line 100, ../../css_src/partials/_page.scss */
header div p {
  font: normal 13px "WhitneyBookRegular","Myriad Pro";
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#000000', Direction=270, Strength=1);
  text-shadow: 0 1px 0 black;
  color: white;
}
/* line 106, ../../css_src/partials/_page.scss */
header div ul {
  float: right;
  width: auto;
}
/* line 110, ../../css_src/partials/_page.scss */
header div ul li {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  width: auto;
}
/* line 116, ../../css_src/partials/_page.scss */
header div ul li a {
  float: left;
  height: 28px;
  padding: 0 0 0 12px;
  background: url("/img/sprite.png") 0 0 no-repeat;
  font: normal 13px "WhitneyBookRegular","Myriad Pro";
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#000000', Direction=270, Strength=1);
  text-shadow: 0 1px 0 black;
  color: white;
  text-decoration: none;
}
/* line 126, ../../css_src/partials/_page.scss */
header div ul li a:hover {
  text-decoration: underline;
  color: white;
}
/* line 131, ../../css_src/partials/_page.scss */
header div ul li a span {
  float: left;
  width: auto;
  height: 14px;
  padding: 6px 12px 8px 0;
  margin: 0;
  background: url("/img/sprite.png") right -28px no-repeat;
  line-height: 13px;
}
/* line 138, ../../css_src/partials/_page.scss */
header div ul li a span strong {
  font: bold 13px "WhitneyBold";
}
/* line 142, ../../css_src/partials/_page.scss */
header div ul li a.no_bkg {
  margin: 6px 12px 0 0;
  background: none;
}
/* line 145, ../../css_src/partials/_page.scss */
header div ul li a.no_bkg span {
  background: none;
}

/* line 2, ../../css_src/partials/_map.scss */
.map_container {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* line 6, ../../css_src/partials/_map.scss */
.map_container .map {
  width: 100%;
  height: 100%;
}
/* line 11, ../../css_src/partials/_map.scss */
.map_container div.layer_editor {
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 21;
}
/* line 16, ../../css_src/partials/_map.scss */
.map_container div.layer_editor .layer_raster {
  display: block;
  width: 22px;
  height: 23px;
  background: url("../img/layers_editor.png") no-repeat 0 0;
}
/* line 22, ../../css_src/partials/_map.scss */
.map_container div.layer_editor .layer_google_maps {
  display: block;
  width: 22px;
  height: 22px;
  background: url("../img/layers_editor.png") no-repeat 0 -23px;
}
/* line 31, ../../css_src/partials/_map.scss */
.map_container div.zoom_control {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 22px;
  height: 44px;
  z-index: 10;
}
/* line 39, ../../css_src/partials/_map.scss */
.map_container div.zoom_control a {
  display: block;
  width: 22px;
  height: 22px;
  text-indent: -9999px;
  background: url("../img/icons/zoom.png") no-repeat 0 0;
}
/* line 46, ../../css_src/partials/_map.scss */
.map_container div.zoom_control a.zoom_in:hover {
  background-position: 0 -22px;
}
/* line 51, ../../css_src/partials/_map.scss */
.map_container div.zoom_control a.zoom_out {
  background-position: -22px 0;
}
/* line 53, ../../css_src/partials/_map.scss */
.map_container div.zoom_control a.zoom_out:hover {
  background-position: -22px -22px;
}
/* line 63, ../../css_src/partials/_map.scss */
.map_container div.crosshair {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
}
/* line 68, ../../css_src/partials/_map.scss */
.map_container div.crosshair img {
  margin-left: -7px;
  margin-top: -7px;
}
/* line 75, ../../css_src/partials/_map.scss */
.map_container #polygon_popup {
  position: absolute;
  background-color: #FFFFFF;
  padding: 15px;
  top: 0;
  left: 0;
  display: none;
}

/* line 2, ../../css_src/partials/_panel.scss */
#panel {
  position: absolute;
  background-color: #FFF;
  padding: 0;
  right: 0;
  height: 100%;
  width: 352px;
  border-left: 1px solid #CCCCCC;
}
/* line 13, ../../css_src/partials/_panel.scss */
#panel #tabs display:none
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 17, ../../css_src/partials/_panel.scss */
#panel #tabs display:none
ul li {
  float: left;
  border-right: 1px solid #BBB;
  border-bottom: 1px solid #BBB;
  margin: 0;
  padding: 20px 10px;
}
/* line 23, ../../css_src/partials/_panel.scss */
#panel #tabs display:none
ul li.total {
  width: 100%;
}
/* line 26, ../../css_src/partials/_panel.scss */
#panel #tabs display:none
ul li.enabled {
  border-bottom-width: 0;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
}
/* line 39, ../../css_src/partials/_panel.scss */
#panel p {
  margin: 5px 0;
}
/* line 42, ../../css_src/partials/_panel.scss */
#panel h2, #panel h1 {
  margin: 10px 0;
}
/* line 47, ../../css_src/partials/_panel.scss */
#panel #tab_content {
  display: block;
  width: 312px;
  height: 100%;
  padding: 20px;
  margin: 0;
  list-style: none;
}
/* line 56, ../../css_src/partials/_panel.scss */
#panel #tab_content div.tools {
  width: 100%;
  height: 34px;
  margin: 10px 0 0 0;
  background: url("/img/sprite.png") 0 -474px no-repeat;
}
/* line 62, ../../css_src/partials/_panel.scss */
#panel #tab_content div.tools h2 {
  float: left;
  padding: 0;
  margin: 0;
}
/* line 63, ../../css_src/partials/_panel.scss */
#panel #tab_content div.tools span.tools {
  float: right;
  margin: 0;
  padding: 0;
}
/* line 65, ../../css_src/partials/_panel.scss */
#panel #tab_content div.tools p {
  float: left;
  width: auto;
  height: 13px;
  padding: 10px;
  margin: 0;
  font: normal 13px "Helvetica Neue",Arial;
  color: #666666;
}
/* line 74, ../../css_src/partials/_panel.scss */
#panel #tab_content div.tools p a {
  font: bold 13px "Helvetica Neue",Arial;
  color: #333333;
  text-decoration: underline;
}
/* line 78, ../../css_src/partials/_panel.scss */
#panel #tab_content div.tools p a:hover {
  color: black;
}
/* line 82, ../../css_src/partials/_panel.scss */
#panel #tab_content div.tools a.edit {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  width: 16px;
  height: 21px;
  margin: 7px 0 0 0;
  text-indent: -9999px;
  font-size: 0;
  line-height: 0;
  background: url("/img/sprite.png") -22px -453px no-repeat;
}
/* line 95, ../../css_src/partials/_panel.scss */
#panel #tab_content div.tools a.remove {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  width: 16px;
  height: 21px;
  margin: 7px 14px 0 0;
  text-indent: -9999px;
  font-size: 0;
  line-height: 0;
  background: url("/img/sprite.png") -2px -453px no-repeat;
}
/* line 115, ../../css_src/partials/_panel.scss */
#panel #tab_content div.no_content {
  width: 312px;
  margin: 0;
}
/* line 119, ../../css_src/partials/_panel.scss */
#panel #tab_content div.no_content div.inner {
  width: 292px;
  padding: 10px;
  background: url("/img/sprite.png") 0 -508px no-repeat;
}
/* line 124, ../../css_src/partials/_panel.scss */
#panel #tab_content div.no_content div.inner span.title {
  display: inline-block;
  width: 100%;
  padding: 0 0 2px 0;
  border-bottom: 2px solid #666666;
}
/* line 130, ../../css_src/partials/_panel.scss */
#panel #tab_content div.no_content div.inner span.title h2 {
  float: left;
  width: auto;
  padding: 0;
  margin: 0;
  font: normal 13px "Helvetica Neue",Arial;
  color: #666666;
}
/* line 139, ../../css_src/partials/_panel.scss */
#panel #tab_content div.no_content div.inner span.title a.remove {
  float: right;
  width: 18px;
  height: 21px;
  margin: 0;
  padding: 0;
  text-indent: -9999px;
  font-size: 0;
  line-height: 0;
  background: url("/img/sprite.png") 0 -454px no-repeat;
}
/* line 152, ../../css_src/partials/_panel.scss */
#panel #tab_content div.no_content div.inner p {
  color: #666666;
}
/* line 152, ../../css_src/partials/_panel.scss */
#panel #tab_content div.no_content div.inner p.margin {
  margin: 20px 0 0 0;
}
/* line 155, ../../css_src/partials/_panel.scss */
#panel #tab_content div.no_content span.end {
  width: 312px;
  height: 5px;
  background: url("/img/sprite.png") 0 -785px no-repeat;
}
/* line 164, ../../css_src/partials/_panel.scss */
#panel #tab_content div.block {
  width: 100%;
  margin: 15px 0 0 0;
}
/* line 168, ../../css_src/partials/_panel.scss */
#panel #tab_content div.block span.title {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #666666;
}
/* line 175, ../../css_src/partials/_panel.scss */
#panel #tab_content div.block span.title h2 {
  float: left;
  padding: 0;
  margin: 27px 0 0 0;
  font: bold 11px "WhitneyBold","Myriad Pro";
  color: #333333;
}
/* line 183, ../../css_src/partials/_panel.scss */
#panel #tab_content div.block span.title p {
  float: right;
  padding: 0;
  margin: 0;
  font: bold 39px "Helvetica Neue",Arial;
  color: #333333;
}
/* line 190, ../../css_src/partials/_panel.scss */
#panel #tab_content div.block span.title p small {
  font-size: 13px;
  padding: 0 0 0 5px;
}
/* line 197, ../../css_src/partials/_panel.scss */
#panel #tab_content div.block ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 203, ../../css_src/partials/_panel.scss */
#panel #tab_content div.block ul li {
  float: left;
  width: 100%;
  padding: 7px 0;
  border-bottom: 1px solid #CCCCCC;
}
/* line 209, ../../css_src/partials/_panel.scss */
#panel #tab_content div.block ul li h5 {
  float: left;
  margin: 0;
  padding: 0;
  font: normal 13px "Helvetica Neue",Arial;
  color: #666666;
}
/* line 217, ../../css_src/partials/_panel.scss */
#panel #tab_content div.block ul li p {
  float: right;
  margin: 0;
  padding: 0;
  font: normal 13px "Helvetica Neue",Arial;
  color: #666666;
  line-height: 13px;
}
/* line 225, ../../css_src/partials/_panel.scss */
#panel #tab_content div.block ul li p.ok {
  padding: 0 15px 0 0;
  background: url("/img/sprite.png") no-repeat right -384px;
}
/* line 226, ../../css_src/partials/_panel.scss */
#panel #tab_content div.block ul li p.ko {
  padding: 0 15px 0 0;
  background: url("/img/sprite.png") no-repeat right -397px;
}
/* line 229, ../../css_src/partials/_panel.scss */
#panel #tab_content div.block ul li.last {
  border: none;
}
/* line 230, ../../css_src/partials/_panel.scss */
#panel #tab_content div.block ul li:last-child {
  border: none;
}
/* line 235, ../../css_src/partials/_panel.scss */
#panel #tab_content div.block ul.inline li {
  width: 77px;
  height: 80px;
  padding: 0;
  border: none;
  border-right: 1px solid #E5E5E5;
}
/* line 242, ../../css_src/partials/_panel.scss */
#panel #tab_content div.block ul.inline li h5 {
  float: left;
  width: 100%;
  height: 10px;
  margin: 0;
  padding: 8px 0 9px;
  font: normal 10px "Helvetica Neue",Arial;
  color: #666666;
  text-align: center;
  background: #EDEDED;
  border-bottom: 1px solid #CCCCCC;
}
/* line 255, ../../css_src/partials/_panel.scss */
#panel #tab_content div.block ul.inline li p {
  float: right;
  width: 100%;
  margin: 0;
  padding: 17px 0 0 0;
  font: bold 21px "Helvetica Neue",Arial;
  color: #666666;
  line-height: 21px;
  letter-spacing: -1px;
  text-align: center;
}
/* line 267, ../../css_src/partials/_panel.scss */
#panel #tab_content div.block ul.inline li.last {
  border: none;
}
/* line 268, ../../css_src/partials/_panel.scss */
#panel #tab_content div.block ul.inline li:last-child {
  border: none;
}

/* Golden ratio scale from http://modularscale.com/scale/?px1=12&px2=48&ra1=1.618&ra2=0
---------------------------------------- */
/* Carbon tool mixins */
/* line 3, ../../css_src/partials/_start_banner.scss */
#start_banner {
  position: absolute;
  top: 50%;
  left: 0;
  height: 324px;
  width: 100%;
  margin-top: -162px;
  background: white;
  text-align: center;
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #CCCCCC;
}
/* line 16, ../../css_src/partials/_start_banner.scss */
#start_banner .inner {
  width: 765px;
  height: 324px;
  margin: 0 auto;
  text-align: left;
  background: url("/img/sprite.png") right -56px no-repeat;
}
/* line 23, ../../css_src/partials/_start_banner.scss */
#start_banner .inner .help {
  width: 385px;
  padding: 58px 0 0 0;
}
/* line 27, ../../css_src/partials/_start_banner.scss */
#start_banner .inner .help h1 {
  display: block;
  width: 100%;
  padding: 0 0 10px 0;
  border-bottom: 2px solid #666666;
  text-transform: uppercase;
  font: bold 11px "WhitneyBold","Myriad Pro";
  color: #333333;
}
/* line 37, ../../css_src/partials/_start_banner.scss */
#start_banner .inner .help p {
  margin: 12px 0 0 0;
  font: normal 15px "Helvetica Neue",Arial;
  color: #333333;
}
/* line 41, ../../css_src/partials/_start_banner.scss */
#start_banner .inner .help p.margin {
  margin: 20px 0 0 0;
}
/* line 44, ../../css_src/partials/_start_banner.scss */
#start_banner .inner .help button {
  float: right;
  width: auto;
  height: 47px;
  margin: 23px 0 0 0;
  padding: 0 0 0 21px;
  border: none;
  background: url("/img/sprite.png") left -380px no-repeat;
  font: bold 15px "WhitneyBold","Myriad Pro";
  color: #333333;
}
/* line 55, ../../css_src/partials/_start_banner.scss */
#start_banner .inner .help button span {
  float: right;
  height: 15px;
  padding: 17px 21px 19px 0;
  background: url("/img/sprite.png") right -427px no-repeat;
  line-height: 15px;
  text-transform: uppercase;
}
/* line 65, ../../css_src/partials/_start_banner.scss */
#start_banner .inner .help button:hover span {
  color: black;
  text-decoration: underline;
}
/* line 71, ../../css_src/partials/_start_banner.scss */
#start_banner button {
  float: right;
}

@media print {
  /* line 10, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 12, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* line 13, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 14, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 15, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 16, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 17, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  thead {
    display: table-header-group;
  }

  /* line 18, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 19, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 21, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 22, ../../../../../../.rvm/gems/ruby-1.9.2-p290@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
