body {
	margin:0;
	color:#4d4d4d;
	font:12px/14px Arial, Helvetica, sans-serif;
	background:#fff;
}
.hide {
  display: none;
}
img {border-style:none;}
a {
	color:#ccc;
	text-decoration: none;
}
a:hover {text-decoration: underline;}
input,
textarea,
select {
	font:100% Arial, Helvetica, sans-serif;
	vertical-align:middle;
	color:#000;
}
form,
fieldset {
	margin:0;
	padding:0;
	border-style:none;
}
q {quotes:none;}
q:before {content:''}
q:after {content:''}
/*wrapper*/
#wrapper {
	width:960px;
	margin:0 auto;
	padding:0 18px;
}
/*header*/
#header{
	background:url(/img/bg-header.jpg) no-repeat;
	height:55px;
	overflow:hidden;
	padding:90px 0 0 33px;
}
/*logo*/
.logo{
	float:left;
	text-indent:-9999px;
	overflow:hidden;
	background:url(/img/logo.gif) no-repeat;
	width:175px;
	height:45px;
}
.logo a{
	display:block;
	height:100%;
}
/*add-nav*/
.add-nav{
	float:right;
	padding:34px 2px 0 0;	margin:0;	list-style:none;
	font-size:12px;
	line-height:16px;
}
.add-nav li{
	padding:0 13px 0 10px;
	float:left;
	background:url(/img/separator.gif) no-repeat 0 50%;
}
.add-nav li:first-child{background:none;}
.add-nav li a{color:#3d2d30;}
/*nav*/
#nav{
	padding:0 18px 0 17px;	list-style:none;
	background:url(/img/bg-nav.gif) no-repeat;
	height:43px;
	margin:0 -18px;
	overflow:hidden;
	font-weight:bold;
	font-size:18px;
	line-height:33px;
}
#nav li{
	float:left;
	width:238px;
	text-align:center;
	height:34px;
	margin-left:2px;
}
#nav li a{
	display:block;
	color:#fff;
	height:100%;
}
#nav li a:hover,
#nav li .active{
	text-decoration:none;
	background:url(/img/bg-nav-hover.gif) no-repeat;
}
/*breadcrumbs*/
.breadcrumbs{
	padding:0 0 37px 7px;	margin:0;	list-style:none;
	font-size:12px;
	line-height:14px;
}
.breadcrumbs li{display:inline;}
.breadcrumbs a{color:#56b6de;}
/*main*/
#main{
	padding:8px 0 0;
	background:url(/img/bg-main.gif) repeat-x;
}
/*panel*/
.panel{
	padding:0 0 0 22px;	margin:0;	list-style:none;
	overflow:hidden;
	font-size:13px;
	border-bottom:1px solid #ccc;
}
.panel li{
	float:left;
	width:135px;
	height:62px;
	margin:0 40px -1px 0;
	background:#e6e6e6 url(/img/bg-panel.gif) repeat-x 0 100%;
}
.panel li a{
	color:#3d2d30;
	display:block;
	height:42px;
	padding:10px 5px;
}
.panel li a:hover,
.panel li .active{
	text-decoration:none;
	background:#e6e6e6 url(/img/bg-panel-hover.gif) repeat-x 0 100%;
}
/*container*/
.container{
}
/*sidebar*/
#sidebar{
	overflow:hidden;
	float:left;
	width:244px;
	background:#c3c9ce;
	position:relative;
	padding:16px 12px 0;
	font-size:11px;
	line-height:13px;

        -moz-box-shadow:    0px 0px 11px 6px #AAA;
        -webkit-box-shadow: 0px 0px 11px 6px #AAA;
        box-shadow:         0px 0px 11px 6px #AAA;
}
#sidebar h1{
	color:#fff;
	margin:0 0 3px;
	font-size:18px;
	line-height:20px;
	text-transform:uppercase;
}
#sidebar p{margin:0 0 16px;}
/*form-box*/
.form-box{
	background: url(/img/divider1.gif) repeat-x scroll 0 100% transparent;
	position:relative;
	padding:0 12px;
	margin:0 -12px 7px;
	width:100%;
}
.first-box{ z-index:100; }
/*slide-block*/
.slide-block{
	width:247px;
	background:url(/img/bg-slide-block.gif) no-repeat;
	padding:6px 0 0;
	margin:0 0 4px;
	position:relative;
}
.slide-block .holder{
	width:100%;
	padding:0 0 6px;
	background:url(/img/bg-slide-block.gif) no-repeat 100% 100%;
}
.slide-block .holder:after{
	content:'';	display:block;	clear:both;
}
.slide-block .frame{
	float:left;
	width:245px;
	background:#e6e6e6;
}
.slide-block.active{
	background:url(/img/bg-slide-block-active.png) no-repeat;
	z-index:100;
}
.slide-block.active .holder{background:url(/img/bg-slide-block-active.png) no-repeat 100% 100%;}
.slide-block.active .frame{
	padding:0 2px 0 0;
	background:url(/img/bg-slide-block-active.png) repeat-y -251px 0;
}
.slide-block.inactive{background:url(/img/bg-slide-block-inactive.gif) no-repeat;}
.slide-block.inactive .holder{background:url(/img/bg-slide-block-inactive.gif) no-repeat 100% 100%;}
.slide-block.inactive .frame{background:#d5d8da;}
.slide-block .content{padding:1px 10px 4px 12px;}
.slide-block .mask{display:none;}
.inactive .mask{
	position:absolute;	top:0;	left:0;
	display:block;
	width:100%;
	height:41px;
	background:url(/img/none.gif) repeat;
}
/*select-form*/
.select-form{
	padding:0 0 8px;
	position:relative;
}
.slide-block .title{
	overflow:hidden;
	color:#000;
	font-size:11px;
	line-height:24px;
}
.slide-block.inactive .title{color:#616467;}
.slide-block .selected a{color:#39617e;}
.slide-block.inactive .selected a{color:#7e95a6;}
/*open-close*/
.open-close{
	float:right;
	text-indent:-9999px;
	overflow:hidden;
	cursor:pointer;
	background:url(/img/btn-open-close.gif) no-repeat;
	width:55px;
	height:23px;
}
.slide-block.active .open-close{background:url(/img/btn-open-close-done.gif) no-repeat;}
.slide-block.inactive .open-close{background:url(/img/btn-open-close-inactive.gif) no-repeat;}
/*block*/
.slide-block .block{
	padding:0 0 5px;
	position:absolute;
	z-index:50;
	left:0;
	top:30px;
	width:247px;
	background:url(/img/bg-slide-block-active.png) no-repeat 100% 100%;
}
.slide-block .block-holder{
	padding:15px 10px 7px 12px;
	background:url(/img/bg-slide-block-active.png) repeat-y -251px 0;
}
.slide-block.active .block{z-index:53;}
.slide-block .block .heading{
	color:#686e74;
	text-transform:uppercase;
	display:block;
	margin:0 0 4px;
}
.slide-block  .box{
	background:#fff;
	padding:3px;
}
.slide-block .row{
	overflow:hidden;
	padding:7px 12px 7px 0;
	background:url(/img/divider2.gif) repeat-x;
}
.slide-block .row:first-child{background:none;}
.slide-block .check{
	float:left;
	height:15px;
	width:16px;
	margin:0 3px 0 0;
	padding:0;
}
.slide-block label{
	float:left;
	color:#333;
	line-height:16px;
	text-transform:uppercase;
}
/*show*/
.show{
	margin:4px 0 0;
	text-indent:-9999px;
	float:right;
	overflow:hidden;
	background:url(/img/arrow3.gif) no-repeat;
	width:6px;
	height:10px;
}
/*btn-reset*/
.btn-reset{text-align:right;}
.btn-reset input{
	margin:0 8px 0 0;
	padding:0;
	overflow:visible;
	background:none;
	border:none;
	color:#686e74;
	cursor:pointer;
	height:16px;
	text-decoration:underline;
	font:bold 11px/13px Arial, Helvetica, sans-serif;
}
.btn-reset input:hover{text-decoration:none;}
/*range-form*/
.range-form {padding: 0 0 8px;}
.range-form .slide-block{margin:0 0 1px;}
.range-form .slide-block.style2{margin:0 0 11px;}
.range-form .slide-block.style3{margin:0 0 8px;}
.range-form .content{
	padding:0 11px 3px;
	margin:-4px 0 0;
}
.range-form label{
	text-transform:uppercase;
	color:#2f556a;
	font-weight:bold;
}
.range-form .style2 label{color:#b75d21;}
.range-form .style3 label{color:#676767;}
.range{
	clear:both;
	overflow:hidden;
}
.range .text{
	float:left;
	background:url(/img/bg-input.png) no-repeat;
	width:29px;
	height:24px;
	text-align:center;
	border:none;
	margin:0;
	padding:0;
	color:#333;
	font:11px/23px Arial, Helvetica, sans-serif;
}
.range .ui-slider + .text {
  margin-left: 5px;
}
.ui-slider{
	float:left;
	position:relative;
	margin:3px 5px 0;
}
.ui-widget-content{
	background:url(/img/slider-range.png) no-repeat;
	width:150px;
	height:23px;
}
.ui-slider-horizontal .ui-slider-range {
	height:23px;
	width:152px;
	top: 0;
	background:url(/img/slider-range-act.png) no-repeat;
}
.range-form .style2 .ui-slider-horizontal .ui-slider-range{background:url(/img/slider-range-act2.png) no-repeat;}
.range-form .style3 .ui-slider-horizontal .ui-slider-range{background:url(/img/slider-range-act3.png) no-repeat;}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	position:absolute;
	background:url(/img/slider-handle.png) no-repeat;
	width:16px;
	height:29px;
	z-index:5;
	top:-4px;
	left:-5px;
}
.ui-slider .ui-slider-handle {
  margin-left: -5px;
  outline: none;
}
.ui-slider .ui-slider-handle + .ui-slider-handle {
  background:url(/img/slider-handle.png) no-repeat 100% -73px;
}
/*filter-buttons*/
.filter-buttons{
	overflow:hidden;
	line-height:16px;
	margin:-3px 0 9px;
}
.filter-buttons strong{
	display:block;
	color:#686e74;
}
.filter-buttons ul{
	padding:0;	margin:0;	list-style:none;
}
.filter-buttons ul li{
	float:left;
	margin-left:4px;
}
.filter-buttons li:first-child{margin:0;}
.filter-buttons ul a{
	color:#686e74;
	display:block;
	background:#fff;
	padding:2px 5px 3px;
}
.filter-buttons ul a:hover,
.filter-buttons ul .active{
	color:#fff;
	background:#186fb1;
	text-decoration:none;
}
/*help-box*/
.help-box{
	background:url(/img/bg-help-box.gif) no-repeat;
	width:143px;
	height:27px;
	margin:0 0 0 -4px;
	padding:15px;
}
.help-box span{
	background:url(/img/arrow4.gif) no-repeat 0 50%;
	color:#0071bc;
	font-size:12px;
	line-height:25px;
	float:left;
	padding:0 10px 0 15px;
}
.help-box .help{
	display:block;
	text-indent:-9999px;
	overflow:hidden;
	background:url(/img/help.png) no-repeat;
	width:26px;
	height:26px;
}
/*share-box*/
.share-box{
	background:#2f3035 url(/img/bg-share-box.gif) repeat-x;
	width:250px;
	margin:0 -12px;
	color:#fff;
	overflow:hidden;
	padding:15px 11px 12px 9px;
}
.share-box .share{
	float:right;
	background:url(/img/btn-share.gif) no-repeat;
	width:134px;
	height:27px;
	font-size:12px;
	line-height:27px;
	text-transform:uppercase;
	color:#fff;
	text-align:center;
	margin:5px 0 0;
}
.share-box .heading{
	overflow:hidden;
	font-size:24px;
	line-height:31px;
}
.share-box strong{
	font-size:29px;
	line-height:31px;
}
/*content*/
#content{
	width:650px;
	margin-left: 229px;
	padding:7px 0 0 40px;
}
/*view-panel*/
.view-panel{
	background:#c3c9ce url(/img/bg-view-panel.gif) repeat-y;
	height:21px;
	font-size:11px;
	line-height:22px;
	color:#686e74;
	font-weight:bold;
	display:inline-block;
	vertical-align:top;
	padding:3px 3px 3px 8px;
        z-index: 1;
}
*+html .view-panel{display:inline;}
.view-panel:after{
	content:'';	display:block;	clear:both;
}
.view-panel span{float:left;}
.view-panel ul{
	float:left;
	padding:0;	margin:0;	list-style:none;
	text-transform:uppercase;
}
.view-panel ul li{
	float:left;
	position:relative;
	margin-left:4px;
}
.view-panel ul li a{
	color:#fff;
	display:block;
	height:21px;
	padding:0 4px;
	background:#a7a7a7;
}
.view-panel ul li span{
	position:absolute;
	background:url(/img/arrow2.png) no-repeat;
	width:9px;
	height:8px;
	bottom:-8px;
	left:50%;
	margin-left:-4px;
	display:none;
}
.view-panel ul li:hover a,
.view-panel ul .active a{
	text-decoration:none;
	background:#186fb1;
}
.view-panel ul li:hover span,
.view-panel ul .active span{display:block;}
/*image*/
#content .image{overflow:hidden;}
#content .image img{vertical-align:top;}
/*logos-block*/
.logos-block{
	padding:0 18px;
	margin:0 -18px;
	width:100%;
	border-top:1px solid #d3cfd0;
}
.logos-block .holder{
	overflow:hidden;
	background:url(/img/bg-logos.gif) repeat-x 0 100%;
	padding:29px 0 27px;
	border-top:2px solid #e8e8e8;
}
.logos-block ul{
	padding:0 2px 0 0;	margin:0;	list-style:none;
	text-align:center;
}
.logos-block ul li{
	display:inline;
	margin-left:19px;
}
.logos-block ul li:first-child{margin:0;}
.logos-block ul li img{vertical-align:top;}
/*footer*/
#footer{
	background:url(/img/bg-footer.gif) no-repeat;
	width:994px;
	padding:10px 0 0;
	margin:0 -18px;
}
.footer-holder{
	background:url(/img/bg-footer-holder.gif);
	overflow:hidden;
	padding:13px 16px 20px 20px;
}
.add-logo{
	float:left;
	text-indent:-9999px;
	overflow:hidden;
	background:url(/img/add-logo.png) no-repeat;
	width:108px;
	height:30px;
	margin:5px 10px 0 0;
}
.add-logo a{
	display:block;
	height:100%;
}
/*list*/
#footer .list{
	float:left;
	padding:3px 0 0 32px;	margin:0;	list-style:none;
	background:url(/img/bg-list.png) no-repeat;
	height:83px;
	font-size:12px;
	line-height:14px;
}
#footer .list li{
	vertical-align:top;
	width:100%;
	margin:0 0 7px;
	overflow:hidden;
}
#footer .list a{float:left;}
#footer .list a:first-letter{color: #fff;}
/*sub-nav*/
.sub-nav{
	float:right;
	padding:6px 0 0;	margin:0;	list-style:none;
	font-size:12px;
	line-height:14px;
}
.sub-nav li{
	float:left;
	width:108px;
	margin-left:22px;
	min-height:34px;
}
.sub-nav a{
	background:url(/img/arrow.png) no-repeat 0 50%;
	padding:0 0 0 17px;
}
.sub-nav .link1{background:url(/img/bg-link1.gif) no-repeat 0 100%;}
.sub-nav .link2{background:url(/img/bg-link2.gif) no-repeat 0 100%;}
.sub-nav .link3{background:url(/img/bg-link3.gif) no-repeat 0 100%;}
.sub-nav .link4{background:url(/img/bg-link4.gif) no-repeat 0 100%;}

#main_map {
  width: 651px;
  height: 538px;
}

#map {
  width: 100%;
  height: 100%;
}

#table {
  width: 651px;
  height: 538px;
  overflow: scroll;
  padding-left: 15px;
}

#table_header h2 {
  float:left;
}

#table_header a {
  margin-top: 9px;
  margin-left: 5px;
  float:right;
}
#results-table {
  border-collapse: collapse;
}
#results-table thead th{
  background-color: #989B9F;
  color: white;
  border: 1px solid #989B9F;
  border-right: 1px solid #606469;
}

#results-table tr{
  background-color: #D0D0D0
}

#results-table tr:nth-child(odd){
  background-color: #E3E3E3;
}

#results-table td, th {
  text-align:left;
  padding: 5px;
  border: 1px solid white;
  border-left: 0;
}

div.ui-dialog.ui-widget.ui-widget-content {
  background: none repeat scroll 0 0 #000000;
  color: white;
  border: 1px solid #333333;
  border-radius: 10px 10px 10px 10px;
  display: block;
  outline: 0 none;
  padding: 20px;
}
div#landing{
  background-image: none;
}

div#landing p{
  color: #eee;
}
div#landing p.instructions{
  color: #68b1d4;
}

.btn {
  color: white;
  padding: 3px;
  background: #0693d0; /* Old browsers */
  background: -moz-linear-gradient(top, #0693d0 0%, #0f538c 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0693d0), color-stop(100%,#0f538c)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #0693d0 0%,#0f538c 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #0693d0 0%,#0f538c 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #0693d0 0%,#0f538c 100%); /* IE10+ */
  background: linear-gradient(top, #0693d0 0%,#0f538c 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0693d0', endColorstr='#0f538c',GradientType=0 ); /* IE6-9 */
}

.btn:hover {
  background: #0693d0;
  text-decoration:none;
}

.btn.active {
  background: #0693d0;
}

.range-form .btn {
  float:right;
  padding: 2px 3px;
  margin-top: -2px;
  margin-right: -11px;

  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;

  display:inline;
}
.range-form .btn.active {
  display:none;
}
#countries_selector, #categories_selector, #apes_selector, #species_selector {
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 190px;

}
