// Here's where we define some default constants
@import "partials/base";

// Then we'll import the compass extension
@import "html5-boilerplate";

// Now, you can simply include everything
// (except media) by uncommeting this line
//@include html5-boilerplate;

// Or, you can pick and choose only the sections
// you want by using the these includes
@include html5-boilerplate-reset;
@include html5-boilerplate-fonts;
@include html5-boilerplate-styles;
@include html5-boilerplate-helpers;

// Or, you can import the "overrides" app/assets/css/partial if
// you want more control over individual mixins
//@import "app/assets/css/partials/overrides";

// Finally, put your own styles in these partials
// and add more as needed (i.e. forms, tables, nav)

// MPI stylesheets
@charset "utf-8";
@import "partials/basic";
@import "partials/navigation";
@import "partials/slider";

@import "partials/fonts";
@import "partials/page";

// components
@import "partials/map";
@import "partials/filters";
@import "partials/graph";

// Media should come last
@import "partials/media";

// Home, data or about
@import "partials/layout";
