DRAFT – HELP TEXT

THIS TEXT IS A DRAFT AND WILL BE MODIFIED PRIOR TO RELEASE

<div>
<h1>STATEMENT OF PURPOSE</h1>
The intent of the Apes Dashboard is to support the broad scale comparison of the pressure upon Important Ape Sites (IASs). This broad scale analysis has the potential to inform prioritisation analyses. The intent of the Apes Dashboard is not to identify the ‘most’ suitable site for conservation actions but to support broad scale scoping decisions via the provision of a set of analytical tools which can highlight the differences between selected sites. Results from the Apes Dashboard will enable the user to identify a subset of focus IASs which can be further refined through detailed analysis, study and data collection.
</div>
<div>
<h1>FILTERS</h1>
<p>
  <span>Taxa (species)</span>: the first step in analysing sites is to select which taxa are to be included in the analysis (taxa of interest). All combinations of taxa are possible, with the only restriction being the region (i.e. only species within the same region (Africa or Asia) can be included in the same analysis).
</p>
<p>
  <span>Countries</span>: The analysis can be constrained to a particular country or group of countries (within a region). The countries that are listed are the countries where the taxa of interest occur (selected in step one). The countries filter allows you to choose which IASs to include in the analysis. For example, if interested in ape conservation within a particular country, by selecting all taxa in the first step, and country of interest in the second, all ape taxa that occur in that country will be included in the analysis. 
</p>
<p>
  <span>Site category</span>: Refers to whether the important ape site (IAS) is a protected area, an ape priority area or a conservation landscape. The category filter allows you to choose which IASs to include in the current analysis according to type of site.
</p>
</div>
<div>
<h1>SCORES AND SLIDERS</h1>
<p>
  <span>Pressure score</span>: This score, which ranges from 0 – 1, provides a relative measure of the scope and severity of several threats acting upon the extent of occurrence (EOO) of a given taxon within a site. Pressure is calculated via a set of proxies including human influence index, human population count and change, deforestation and temporal changes in habitat suitability. For a selected taxon, a sub-component score is calculated for all proxies. The pressure score for this taxon is determined by the highest sub-component score (the proxy determining this pressure score is specified in the full downloadable table). If multiple, selected, taxa occur within one site the overall pressure score is determined by the taxon with the highest pressure score within that IAS.
 A high pressure score (approaching one) is indicative that one (or more) species at that IAS encounter(s) high pressure values relative to the values found within its EOO. This means that, the species of interest at that site can be considered to be under significant pressure relative to where it occurs.
</p>
<p>
  <span>Habitat score</span>:  This score, which ranges from 0 – 1, provides an estimate of habitat condition within the EOO of a given taxon within an IAS. It is calculated using the mean percent treed cover as a proxy for habitat condition. For a selected taxon at a given site, the habitat score does not report actual crown cover but a score based on (a) the habitat preferences of the taxon and (b) treed cover at the site relative to the range of values encountered by the taxon within its EOO. If there are multiple taxa within one site the overall habitat score is that of the taxon which determines the overall pressure score within that IAS.
A high habitat score (approaching one) indicates that one (or more) species at that site encounter(s) high amounts of tree cover (crown cover) relative to (a) its preferred forest structure and (b) crown covers found in its EOO. 
</p>
<p>
  <span>Response</span>:  This score, which ranges from 0 – 1, provides a measure of the conservation actions undertaken within the IAS based on two proxies: (a) the proportion of the IAS formally designated as a protected area, and (b) a measure of the IUCN protection category of protected areas within the IAS. The colour of a circle represents the relative response score for the corresponding site. Darker colours indicate higher values, for example, a darker coloured site would have a higher protection extent/protection category than a lighter coloured site. The Response slider allows you to filter sites included in the analysis according to their overall response score.
</p>
<p>
  <span>Biodiversity</span>:  This score, which ranges from 0 – 1, provides an estimate of the relative potential of a given site to conserve regional biodiversity and contribute to the conservation of carbon stocks. Proxies for biodiversity considered include (a) vertebrate species richness, (b) the number/proportion of vertebrate threatened species and (c) carbon stock. The colour of a circle represents the relative biodiversity score for the corresponding site. Therefore, a darker coloured site has the potential to contain a relatively high number of vertebrate species (when compared within a region), a high proportion of threatened vertebrate species and/or relatively high carbon stock (when compared within a region). The Biodiversity slider allows you to filter the sites included in the analysis according to biodiversity potential and carbon stocks.
</p>
<p>
  <span>IAS Area</span>: The extent of the IASs in square kilometres. The IAS Area slider allows you to filter the sites included in the analysis according to their spatial extent. In the graph IAS area is proportional to circle area. Note that larger IASs do not necessarily imply larger ape populations.
</p>
<p>
  <span>Uncertainty</span>: The uncertainty score provides a relative estimate of the confidence surrounding scores derived for a given IAS. It has two sub-components, (a) the extent of the analysed area and (b) dataset availability. The utility of uncertainty scores is to compare the relative values between sites, not the absolute value. For example, an IAL with an uncertainty value of 0.5 is not 50% accurate, it does however have less uncertainty associated with its overall scores than a site with a score of 0.75. Equally, a score of 0.75 is not 25% worse than a score of 0.5.
</p>
</div>
<div>
<h1>OUTPUTS</h1>
<p>
  <span>Graph</span>: The graph is the principle tool within the Apes Dashboard for comparing sites and their relative scores. This graph enables the interpretation of four types of information simultaneously: IAS area, Pressure score, Habitat score, and Biodiversity or Response score (depending on the active slider).
</p>
<p>
  <span>Map</span>: The spatial context of IASs is best analysed via the map display. Included layers enable the user to explore the position of the site relative to major urban areas, roads and rivers. Datasets included in the scoring of sites such as population, deforestation and forest cover are also included in the map display under “visible layers”.
</p>
<p>
  <span>Table</span>: Detailed site comparisons are reliant on the values included in the summary table. Tabular outputs are split into two levels. A simplified table (as displayed on the website) includes a summary of site scores only. Fields contained in the summary table are explained throughout this help file excluding the “Taxon-Site Overlap”. This field details the percentage of the IAS that overlaps with the extent of occurrence (EOO) of the taxon that drives the pressure, habitat and uncertainty scores. Full tables (available for download) include all scoring components values plus additional information in the form of actual parameter values. Results in this table are included for all species and all sites. Fields included in the downloadable tables are fully described in the full methodology PDF. 
</p>
<p>
  <span>Note</span>: The Apes Dashboard analytical framework is described in detail in the methodology PDF (available from <here>)
</p>
</div>
