<p>
  In a world where demand for food, land, timber and mineral resources increases, wild living apes are under pressure. All 22 ape species are threatened with extinction according to the IUCN Red List, with 21 species being classified as endangered or critically endangered. This A.P.E.S. Dashboard allows you to explore the relative pressures impacting species living in important ape sites. This information can be combined with other indicators such as habitat condition, protection levels and the ability of a site to support a combination of non-ape species and selected ecosystem services. The A.P.E.S. Dashboard aims to support preliminary, broad-scale comparisons enabling you to identify subsets of important ape sites that can be refined through further analyses, study and data collection.
</p>
<p>The A.P.E.S. Dashboard can support broad-scale analysis to answer the following questions:</p>
<ul>
  <li>Where are the most/least threatened important ape sites?</li>
  <li>What is the protection status of important ape sites?</li>
  <li>Which important ape sites are most significant for other species and ecosystem services?</li>
</ul>
<p>Information on population sizes is available from the A.P.E.S. Database.</p>
