<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 8 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <noscript><meta http-equiv="refresh" content="0; RL=/nojavascript"/></noscript>

  <!--[if lt IE 7 ]> 
  <script type="text/javascript">
        window.location = '/ie6';
  </script>

  <![endif]-->
  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>A.P.E.S.</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
 -->

  <!-- CSS: implied media="all" -->
  <%= css :application %>
  <link rel="stylesheet" href="css/jquery.jscrollpane.css">

  <!-- Uncomment if you are specifically targeting less enabled mobile browsers
  <link rel="stylesheet" media="handheld" href="css/handheld.css?v=2">  -->

  <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
  <script src="js/libs/modernizr-2.0.6.js"></script>
  <script src="jst.tpl"></script>

  <script src="js/mootools-1.2.5-core-nc.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/moochart-0.1b1.js" type="text/javascript" charset="utf-8"></script>
</head>

<body class="tool ">

  <div id="wrapper">
    <header id="head" class='horizontal_box_shadow'>
      <div class="head_nav">
        <ul>
          <li><a href="/about" title="">about</a></li>
          <li><a href="/contact" title="">contact</a></li>
          <li><a href="#" title="">language</a></li>
        </ul>
      </div>
    </header>
    <div class="menu_subpage">
      <ul>
        <li><a class="sub_portal" id="portal_activ" href="#">Portal</a>
        <ul>
          <li><a class="por" href="portal/species">Species</a></li>
          <li><a class="por" href="portal/topic">Topic</a></li>
          <li><a class="por" href="portal/geography">Geography</a></li>
          <li><a class="por" href="portal/tools">Tools</a></li>
        </ul>
        </li>
        <li><a class="sub_data" href="#">Database</a>
        <ul>
          <li><a class="dat" href="database/archiveTable">Data Archive</a></li>
          <li><a class="dat" href="database/literature">Literature</a></li>
          <li><a class="dat" href="database/policy">Policy</a></li>
          <li><a class="dat" href="database/surveyGuidelines">Survey Guidelines</a></li>
        </ul>
        </li>
        <li><a class="sub_report" href="#">Report</a>
        <ul>
          <li><a class="rep" href="report/annual">Annual Report</a></li>
          <li><a class="rep" href="report/archive">Archive</a></li>
        </ul>
        </li>
        <li><a class="sub_wiki" href="http://apes.eva.mpg.de/apeswiki/index.php/Main_Page" target="_blank">Wiki</a></li>
      </ul>
    </div>

    <div id="main" role="main" class='horizontal_box_shadow'>

        <div id='filter_pane'>
            <ul class='filters' id='species-countries-selected'>
                Loading...
            </ul>

            <div id="categories_filter_edit" class='filter_editor'>
                <h2>Select categories</h2>
                <div class="selector" id='categories_selector'>Loading categories...</div>
                <button id='next-categories-selection'>Next</button>
                <button id='finish-categories-edit'>Done</button>
            </div>

            <div id="apes_filter_edit" class='filter_editor'>
                <h2>Select Apes</h2>
                <div class="selector" id='apes_selector'>Loading Apes...</div>
                <button id='next-apes-selection'>Next</button>
                <button id='finish-apes-edit'>Done</button>
            </div>

            <div id="species_filter_edit" class='filter_editor'>
                <h2>Select species</h2>
                <div class="selector" id='species_selector'>Loading species...</div>
                <button id='finish-species-edit'>Done</button>
            </div>

            <div id="regions_filter_edit" class='filter_editor'>
                <h2>Select Regions</h2>
                <div class="selector" id='regions_selector'>Loading regions...</div>
                <button id='next-regions-selection'>Next</button>
                <button id='finish-regions-edit'>Done</button>
            </div>

            <div id="countries_filter_edit" class='filter_editor'>
                <h2>Select Countries</h2>
                <div class="selector" id='countries_selector'>Loading countries...</div>
                <button id='finish-countries-edit'>Done</button>
            </div>

            <div id="slide_filters">
                <ul class='filters'>
                    <li class="response active">Reso.<div class='filter-slider response'></div></li>
                    <li class='biodiversity'>Biodiv.<div class='filter-slider biodiversity'></div></li>
                    <li class="uncertainty">Uncert.<div class='filter-slider uncertainty'></div></li>
                </ul>
                <ul class='filters'>
                    <li>Size<div class='filter-slider size'></div></li>
                </ul>
            </div>
            <div id='result-area'>
                <div class='clear'>
                  <span id='result-strip'>...</span>
                  <div id='view-selector'>
                      <a class="graph" href='#graph'>Graph</a>
                      <a class="map" href='#main_map'>Map</a>
                      <a class="table" href='#results-table'>Table</a>
                  </div>
                </div>
                <a href="#share" class="share_button"><span><strong>SHARE</strong> THIS REPORT</span></a>
            </div>
        </div>

        <div id='results_container'>
            <div id='graph'></div>
            <div class="map_container" id="main_map">
                <div id="map" class="map"></div>
                <div class="zoom_control">
                  <a href="#zoom_in" class="zoom_in">zoom_in</a>
                  <a href="#zoom_out" class="zoom_out">zoom_out</a>
                </div>
                <div class="crosshair">
                    <img src="/img/icons/crosshair_map.png" />
                </div>
                <div class="tiles_info"><span></span></div>
                <div class="layers">
                    <a href="#view" class="view"><span>VIEWING <b class="layer_number">3 LAYERS</b></span></a>
                    <div class="show">
                        <span class="top"></span>
                        <ul class="dropdown">
                            <a class="expand" href="#expand">expand</a>
                        </ul>
                    </div>
                </div>

                <div class="search">
                  <h1>search</h1>
                  <input type='text' placeholder='............................' />
                  <a href="#search">&nbsp;&nbsp;</a>
                </div>


                <a class="cartodb_logo" href="http://cartodb.com"></a>
            </div>
                
            <div id='table_header'>
                <h3>Species Occurrences:</h3>
                <a href="#download" id="download_button" class="share_button"><span>Download sites table</span></a>
                <a href="#download" id="download_table_button" class="share_button"><span>Download this table</span></a>
            </div>
            <table id="results-table">
                <thead>
                    <tr>
                      <th>IAL_ ID</th>
                      <th>IAL_NAME</th>
                      <th>Area (KM<sup>2</sup>)</th>
                      <th>State</th>
                      <th>Mean Canopy Cover</th>
                      <th>Pressure</th>
                      <th>Mean Deforestation (%)</th>
                      <th>Mean Population Count</th>
                      <th>Population Change (%)</th>
                      <th>Mean Human Influence Index</th>
                      <th>Response</th>
                      <th>Protected Area (%)</th>
                      <th>Mean Protection Category</th>
                      <th>Biodiversity</th>
                      <th>Species Richness</th>
                      <th>Proportion Threatened Species (%)</th>
                      <th>Carbon Storage/KM2</th>
                      <th>Uncertainty</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    <div id="sponsors" class='horizontal_box_shadow'>
      <ul style="padding-left:40px;">
        <li><a href="#" style="margin-left:0px;" title=""><img src="/img/sponsors/arcus.gif" alt="" /></a></li>
        <li><a href="#" title=""><img src="/img/sponsors/unep.gif" alt="" /></a></li>
        <li><a href="#" title=""><img src="/img/sponsors/wcmc.gif" alt="" /></a></li>
        <li><a href="#" title=""><img src="/img/sponsors/wild.gif" alt="" /></a></li>
        <li><a href="#" title=""><img src="/img/sponsors/esri.gif" alt="" /></a></li>
        <li><a href="#" title=""><img src="/img/sponsors/wwf.gif" alt="" /></a></li>
        <li><a href="#" title=""><img src="/img/sponsors/iucn.gif" alt="" /></a></li>
        <li><a href="#" title=""><img src="/img/sponsors/jane.gif" alt="" /></a></li>
        <li><a href="#" title=""><img src="/img/sponsors/mpg.gif" alt="" /></a></li>
      </ul>
    </div>

    <footer id="footer">
      <img src="/img/footer/footer-logo.png" style="float:left;" alt="Logo-Footer" />
      <ul class="footer_nav">
        <li><a class="contact" href="/partners" title="">Partners</a></li>
        <li><a class="imprint" href="#" title="">Philosophy</a></li>
        <li><a class="faq" href="#" title="">FAQ</a></li>
        <li><a class="support" href="#" title="">Support A.P.E.S.</a></li>
      </ul>
    </footer>
  </div> <!--! end of #container -->

  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  <script>window.jQuery || document.write("<script src='js/libs/jquery-1.5.1.min.js'>\x3C/script>")</script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=geometry""></script>
  <script>window.JSON || document.write("<script src='js/libs/json2.js'>\x3C/script>")</script>

  <%= js :main_app %>

  <script>
    function number_format(n) {
        var s = n.toFixed(0);
        var chrs = [];
        var c = 0;
        for(var i = s.length - 1; i != -1; --i, ++c) {
            if(((c % 3) == 0) && c > 0) {
                chrs.push(',');
            }
            chrs.push(s.charAt(i));
        }
        return chrs.reverse().join('');
    }
  </script>


  <!-- end scripts-->
  <script>
    jQuery.noConflict();
    mooTools = $; // Store mooTools
    function init() {
      // use timeout trick to avoid jquery catch the exceptions thrown
      setTimeout(function() {
        App(function(app) {
          var carbon = new app.Carbon();
          carbon.run();
          //debug
          window.carbon = carbon;
          window._app= app;
        });
      }, 100);
    }
    // We want to use jQuery,not mootools
    $ = jQuery;
    jQuery(function($) {
      init();
    }(jQuery));
  </script>


  <!--[if lt IE 7 ]>
    <script src="js/libs/dd_belatedpng.js"></script>
    <script>DD_belatedPNG.fix("img, .png_bg"); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb </script>
  <![endif]-->


  <!-- mathiasbynens.be/notes/async-analytics-snippet Change UA-XXXXX-X to be your site's ID -->
  <!--<script>
    var _gaq=[["_setAccount","UA-6510422-1"],["_trackPageview"]];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
    s.parentNode.insertBefore(g,s)}(document,"script"));
   </script>-->

</body>
</html>
