<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 8 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <noscript><meta http-equiv="refresh" content="0; RL=/nojavascript"/></noscript>

  <!--[if lt IE 7 ]> 
  <script type="text/javascript">
        window.location = '/ie6';
  </script>

  <![endif]-->
  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>A.P.E.S.</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
 -->

  <!-- CSS: implied media="all" -->
  <%= css :application %>

  <!-- Uncomment if you are specifically targeting less enabled mobile browsers
  <link rel="stylesheet" media="handheld" href="css/handheld.css?v=2">  -->

  <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
  <script src="js/libs/modernizr-2.0.6.js"></script>
  <script src="jst.tpl"></script>

  <script src="js/mootools-1.2.5-core-nc.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
<div class="container">
  <div id="sidebar">
    <h1>LOREM IPSUM DOLOR</h1>
    <p>Lorem ipsjm dolor sit amet. consectetur adipi-scing elrt. Pellentesque eros augue, ultrices quis</p>
    <div class="form-box first-box">
      <form action="#" class="select-form">
        <fieldset>
          <div class="slide-block first">
            <div class="holder">
              <div class="frame">
                <div class="content">
                  <div class="title">
                    <a href="#" class="open-close"><span>Done</span><em>Edit</em></a>
                    <strong>SPECIES: </strong>
                    <span class="selected"><a href="#"><span class="count">0</span> selected</a></span>
                  </div>
                  <div class="block" style="display: none; ">
                    <div class="block-holder">
                      <strong class="heading">Select categories</strong>
                      <div class="box">
                        <div class="row">
                          <a href="#" class="show">show</a>
                          <input id="check-other" class="check" type="checkbox">
                          <label for="check-other">- OTHER APES</label>
                        </div>
                        <div class="row">
                          <a href="#" class="show">show</a>
                          <input id="check-great" class="check" type="checkbox">
                          <label for="check-great">- GREAT APES</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="slide-block last inactive">
            <div class="holder">
              <div class="frame">
                <div class="content">
                  <div class="title">
                    <a href="#" class="open-close"><span>Done</span><em>Edit</em></a>
                    <strong>COUNTRIES: </strong>
                    <span class="selected"><a href="#"><span class="count">0</span> selected</a></span>
                  </div>
                  <div class="block" style="display: none; ">
                    <div class="block-holder">
                      <strong class="heading">Select categories</strong>
                      <div class="box">
                        <div class="row">
                          <a href="#" class="show">show</a>
                          <input id="check-africa" class="check" type="checkbox">
                          <label for="check-africa">- AFRICA</label>
                        </div>
                        <div class="row">
                          <a href="#" class="show">show</a>
                          <input id="check-asia" class="check" type="checkbox">
                          <label for="check-asia">- ASIA</label>
                        </div>
                        <div class="row">
                          <a href="#" class="show">show</a>
                          <input id="check-europe" class="check" type="checkbox">
                          <label for="check-europe">- EUROPE</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mask"></div>
          </div>
          <div class="btn-reset">
            <input type="reset" value="Reset fields">
          </div>
        </fieldset>
      </form>
    </div>
    <div class="form-box">
      <form action="#" class="range-form">
        <fieldset>
          <div class="slide-block">
            <div class="holder">
              <div class="frame">
                <div class="content">
                  <label for="amount">Response</label>
                  <div class="range response">
                    <input class="text min-value" type="text" value="0">
                    <div class="ui-slider"></div>
                    <input class="text max-value" type="text" value="100">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="slide-block style2">
            <div class="holder">
              <div class="frame">
                <div class="content">
                  <label for="amount2">Biodiversity</label>
                  <div class="range biodiversity">
                    <input class="text min-value" type="text" value="0">
                    <div class="ui-slider"></div>
                    <input class="text max-value" type="text" value="100">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="slide-block style3">
            <div class="holder">
              <div class="frame">
                <div class="content">
                  <label for="amount3">IAS Area</label>
                  <div class="range size">
                    <input class="text min-value" type="text" value="0">
                    <div class="ui-slider"></div>
                    <input class="text max-value" type="text" value="100">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="btn-reset">
            <input type="reset" value="Reset fields">
          </div>
        </fieldset>
      </form>
    </div>
    <div class="filter-buttons">
      <strong>Filter by:</strong>
      <ul>
        <li><a href="#" class="active">Protected Areas</a></li>
        <li><a href="#">Priority Areas</a></li>
        <li><a href="#">Landscapes</a></li>
      </ul>
    </div>
    <div class="help-box">
      <span>Help</span>
      <a href="#" class="help">?</a>
    </div>
    <div class="share-box">
      <a href="#" class="share">share this report</a>
      <div id="result-strip" class="heading"></div>
    </div>
  </div>
  <div id="content">
    <div class="view-panel">
      <span>View:</span>
      <ul>
        <li class="graph active"><a href="#">GRAPH</a><span></span></li>
        <li class="map"><a href="#">MAP</a><span></span></li>
        <li class="table"><a href="#">TABLE</a><span></span></li>
      </ul>
    </div>
    <div id="graph"></div>
    <div id="main_map" class="map_container hide">
      <div id="map"></div>
    </div>
    <div id="table" class="hide">
      <div id='table_header'>
          <h3>Sites:</h3>
          <a href="#download" id="download_button" class="share_button"><span>Download this table</span></a>
          <a href="#download" id="download_table_button" class="share_button"><span>Download species occurrence table</span></a>
      </div>
      <table id="results-table">
        <thead>
          <tr>
            <th>IAL ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Area (KM<sup>2</sup>)</th>
            <th>Pressure</th>
            <th>Habitat</th>
            <th>Response</th>
            <th>Biodiversity</th>
            <th>Analysis Taxa Present</th>
            <th>Driving Taxon</th>
            <th>Taxon-Site Overlap</th>
            <th>Uncertainty</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
  <div id="landing" title="Welcome">
    <p>
      orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
  </div>

  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  <script>window.jQuery || document.write("<script src='js/libs/jquery-1.5.1.min.js'>\x3C/script>")</script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=geometry""></script>
  <script>window.JSON || document.write("<script src='js/libs/json2.js'>\x3C/script>")</script>

    <%= js :main_app %>

  <script>
    function number_format(n) {
        var s = n.toFixed(0);
        var chrs = [];
        var c = 0;
        for(var i = s.length - 1; i != -1; --i, ++c) {
            if(((c % 3) == 0) && c > 0) {
                chrs.push(',');
            }
            chrs.push(s.charAt(i));
        }
        return chrs.reverse().join('');
    }
  </script>


  <!-- end scripts-->
  <script>
    jQuery.noConflict();
    mooTools = $; // Store mooTools
    function init() {
      // use timeout trick to avoid jquery catch the exceptions thrown
      setTimeout(function() {
        App(function(app) {
          var carbon = new app.Carbon();
          carbon.run();
          //debug
          window.carbon = carbon;
          window._app= app;
        });
      }, 100);
    }
    // We want to use jQuery,not mootools
    $ = jQuery;
    jQuery(function($) {
      init();
    }(jQuery));
    jQuery(function(){
        if(window.location.hash.length == 0){
          jQuery("#landing").dialog({
            height: 500,
            minHeight: 500,
            minWidth: 500,
            modal: true,
            autoOpen: true
          });
        }
      });
  </script>


  <!--[if lt IE 7 ]>
    <script src="js/libs/dd_belatedpng.js"></script>
    <script>DD_belatedPNG.fix("img, .png_bg"); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb </script>
  <![endif]-->


  <!-- mathiasbynens.be/notes/async-analytics-snippet Change UA-XXXXX-X to be your site's ID -->
  <!--<script>
    var _gaq=[["_setAccount","UA-6510422-1"],["_trackPageview"]];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
    s.parentNode.insertBefore(g,s)}(document,"script"));
   </script>-->
</div>
</body>
</html>
