<div class="collab">
    <h6>COLLABORATING PARTNERS AND DONORS</h6>
    <ul>
        <li><a class="cbd" href="http://www.cbd.int/" target="_blank">CBD</a></li>
        <li><a class="lifeweb" href="http://www.cbd.int/lifeweb/" target="_blank">LifeWeb</a></li>
        <li><a class="unep-wcmc" href="http://www.unep-wcmc.org/" target="_blank">UNEP-WCMC</a></li>
        <li><a class="vizzuality" href="http://www.vizzuality.com" target="_blank">Vizzuality</a></li>
        <li class="last"><a class="federal_agency" href="http://bmu.de" target="_blank">Federal Agency for Nature Conservation</a></li>
    </ul>
    <p>Feel free to contact us for any doubt or suggestion at <a href="mailto:contac@cbd.ing">contact[at]cbd.int</a></p>
</div>
