


<div class="help_popup CARBON">
    <div class="top"></div>
    <div class="center">
      <h1 class="name">CARBON</h1>
      <p>Total carbon stored in above- and below-ground biomass and soil.</p>
    </div>
    <div class="bottom">
        <a href="/about#carbon">more</a>
    </div>
</div> 

<div class="help_popup C_SEQ C__SEQUESTRATION">
    <div class="top"></div>
    <div class="center">
      <h1 class="name">EXTRA C POTENTIAL</h1>
      <p>Maximum of extra carbon that could be sequestered through restoration. </p>
    </div>
    <div class="bottom">
        <a href="/about#cseq" target="_blank">more</a>
    </div>
</div> 

<div class="help_popup FOREST_STATUS">
    <div class="top"></div>
    <div class="center">
      <h1 class="name">FOREST STATUS</h1>
      <p>Classification of forest by impact from intact forest (lowest impact) to deforested (highest impact).</p>
    </div>
    <div class="bottom">
        <a href="/about#forest_status" target="_blank">more</a>
    </div>
</div> 

<div class="help_popup COVERED_BY_KBAs">
    <div class="top"></div>
    <div class="center">
      <h1 class="name">KEY BIODIVERSITY AREAS</h1>
      <p>Globally significant sites for biodiversity conservation.</p>
    </div>
    <div class="bottom">
        <a href="/about#kba" target="_blank">more</a>
    </div>
</div> 

<div class="help_popup COVERED_BY_PAs">
    <div class="top"></div>
    <div class="center">
      <h1 class="name">PROTECTED AREAS</h1>
      <p>Areas aiming at long-term conservation.</p>
    </div>
    <div class="bottom">
        <a href="/about#protected_areas" target="_blank">more</a>
    </div>
</div> 


<div class="help_popup RESTORATION_POTENTIAL">
    <div class="top"></div>
    <div class="center">
      <h1 class="name">RESTORATION POTENTIAL</h1>
      <p>Potential of the AOI for wide-scale, mosaic, or remote restoration.</p>
    </div>
    <div class="bottom">
        <a href="/about#restoration_potential" target="_blank">more</a>
    </div>
</div> 
