<!-- report backbone template -->

<% if(typeof total === 'undefined') { %>

<div class="tools non_editing">
    <h2><p href="#edit" class="edit"><%= polygons.length %> polygon. <a class='go_edit' href="#add_another">Add another?</a></p></h2>
    <span class="tools">
        <a href='#edit' class="go_edit edit">edit</a>
        <a href='#remove' class="remove">remove</a>
    </span>
</div>

<!--
<span class="list_tooltip">
  <h4>AOI #3</h4>
  <span class="blue">
    <h6>421,931.3 T</h6>
    <p>Carbon</p>
  </span>
  <span class="white">
    <h6>39,213 T</h6>
    <p>RestP: Max. Extra Carbon</p>
  </span>
</span>
-->

<div class="tools editing">
    <h2><a href="#finish_editing" class="finish leave_edit"><span>FINISH EDITING</span></a></h2>
    <span class="tools">
        <a href='#edit' class="edit">edit</a>
        <a href='#remove' class="remove">remove</a>
    </span>
</div>
<% } %>

<span style="display:none" class="loader"></span>

<% if(stats.carbon) { %>
<div class="block">
    <span class="title">
        <h2>CARBON</h2>
        <p><%= stats.carbon.qty %><small>T</small></p>
    </span>
    <ul class="normal list">
      <% _.each(stats.carbon.by_country, function(ct) { %>
      <li>
            <h5><%= ct.name %></h5>
            <p class="info ok"><%= ct.qty %></p>
      </li>
      <% }); %>
    </ul>
</div>
<% } %>

<% if(stats.covered_by_PA) { %>
<div class="block">
    <span class="title">
        <h2>COVERED BY PA'S</h2>
        <p><%= stats.covered_by_PA.percent%><small>%</small></p>
    </span>
    <ul class="normal list">
      <li>
        Overlapping with <%= stats.covered_by_PA.num_overlap %> PA
      </li>
    </ul>
</div>
<% } %>

<% if(stats.covered_by_KBA) { %>
<div class="block">
    <span class="title">
        <h2>COVERED BY KPA'S</h2>
        <p><%= stats.covered_by_KBA.percent.toFixed(1) %><small>%</small></p>
    </span>
    <ul class="normal list">
      <li>
        Overlapping with <%= stats.covered_by_KBA.num_overlap %> PA
      </li>
    </ul>
</div>
<% } %>

<% if(stats.restoration_potential) { %>
<div class="block">
    <span class="title">
        <h2>RESTORATION POTENTIAL</h2>
        <p>&nbsp;</p>
    </span>
    <ul class="inline list">
        <li>
            <h5>WIDE-SCALE</h5>
            <p class="info"><%=stats.restoration_potential.wide_scale.toFixed(1)%>%</p>
        </li>
        <li>
            <h5>MOSAIC</h5>
            <p class="info"><%=stats.restoration_potential.mosaic.toFixed(1) %>%</p>
        </li>
        <li>
            <h5>REMOVE</h5>
            <p class="info"><%=stats.restoration_potential.remove.toFixed(1) %>%</p>
        </li>
        <li class="last">
            <h5>NONE</h5>
            <p class="info"><%=stats.restoration_potential.none.toFixed(1) %>%</p>
        </li>
    </ul>
</div>
<% } %>

<% if(stats.forest_status) { %>
<div class="block">
    <span class="title">
        <h2>FOREST STATUS</h2>
    </span>
    <ul class="normal list">
      <li><h5>% Defined as intact forest</h5><p class="info "><%= stats.forest_status.intact.toFixed(1) %>%</p></li>
      <li><h5>% Defined as fragmented/managed forest</h5><p class="info "><%= stats.forest_status.fragmented.toFixed(1) %>%</p></li>
      <li><h5>% Defined as partially deforested areas</h5><p class="info "><%= stats.forest_status.partial.toFixed(1) %>%</p></li>
      <li><h5>% Defined as deforested areas</h5><p class="info "><%= stats.forest_status.deforested.toFixed(1) %>%</p></li>
    </ul>
</div>
<% } %>

<% if(stats.carbon_sum) { %>
<div class="block">
    <span class="title">
        <h2>CARBON</h2>
        <p><%= stats.carbon_sum.qty %><small>T</small></p>
    </span>
    <ul class="normal list tooltip">
      <% _.each(stats.carbon_sum.polygons, function(p) { %>
        <li>
          <h5 class="stats"><%= p.polygon %></h5>
            <div class="stats_bar">
                <span class="r_bar"></span>
                <div class="stats_bar inner" style="width: <%= p.percent %>%">
                    <span class="r_bar"></span>
                </div>
            </div>
            <p><%= p.percent.toFixed(1) %>%</p>
        </li>
      <% }); %>
    </ul>
</div>
<% } %>

<% if(stats.coverage) { %>
<div class="block">
    <span class="title">
        <h2>COVERAGE STATICTICS</h2>
        <p>&nbsp;</p>
    </span>
    <ul class="normal list tooltip">
      <% _.each(stats.coverage, function(v, k) { %>
        <li>
          <h5 class="stats"><%= k %></h5>
            <div class="stats_bar">
                <span class="r_bar"></span>
                <div class="stats_bar inner">
                    <span class="r_bar"></span>
                </div>
            </div>
            <p><%= v.toFixed(1) %>%</p>
        </li>
      <% }); %>
    </ul>
</div>
<% } %>


<% if(stats.conservation_priority_areas) { %>
<div class="block">
    <span class="title">
        <h2>CONSERVATION PRIORITIES</h2>
        <p>&nbsp;</p>
    </span>
    <ul class="down list">
        <% _.each(stats.conservation_priority_areas, function(area) { %>
        <li>
            <h5><%= area.name %></h5>
            <ul>
                <li class="hst">
                    <h6>Highest</h6>
                    <div class="stats_bar"><span class="r_bar"></span></div>
                </li>
                <li class="h">
                    <h6>High</h6>
                    <div class="stats_bar"><span class="r_bar"></span></div>
                </li>
                <li class="m">
                    <h6>Med</h6>
                    <div class="stats_bar"><span class="r_bar"></span></div>
                </li>
                <li class="l">
                    <h6>Low</h6>
                    <div class="stats_bar"><span class="r_bar"></span></div>
                </li>
                <li class="out">
                    <h6>Outs.</h6>
                    <div class="stats_bar"><span class="r_bar"></span></div>
                </li>
            </ul>
        </li>
      <% }); %>
    </ul>
</div>
<% } %>

