<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 8 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
 -->

  <!-- CSS: implied media="all" -->
  <link rel="stylesheet" href="css/style.css?v=2">

  <!-- Uncomment if you are specifically targeting less enabled mobile browsers
  <link rel="stylesheet" media="handheld" href="css/handheld.css?v=2">  -->

  <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
  <script src="js/libs/modernizr-2.0.6.js"></script>

</head>

<body class="out">
  <div class="layout">
    <header>
      <h1><a href="/">CARBON CALCULATOR</h1>
      <ul>
        <li><a href="/tool">TOOL</a></li>
        <li class="selected"><a href="/about">ABOUT</a></li>
      </ul>
    </header>
    
    <h2>More about the tool, how to use it and where the data comes from.</h2>
    <p class="subtitle">Carbon Calculator is a joint product of The CBD Secretariat, LifeWeb, and UNEP-WCMC</p>
    
    
    <section class="video">
      <div class="left">
        <h3>How to use the tool</h3>
        <p>Users can choose whether they wish to draw their own polygon(s) or select existing protected areas. Estimates can also be calculated for mixtures of existing protected areas and self-drawn polygons. </p>
        <p>The maximum number of selected/self-drawn polygons is four and these sites may not spread across more than four countries. This limitation is necessary to ensure results can be presented in a useful way.</p>
        <p><strong>Take a look at the video for viewing it in action!</strong></p>
      </div>
      <div class="right">
        <iframe src="http://player.vimeo.com/video/22988935?title=0&amp;byline=0&amp;portrait=0" width="440" height="249" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
      </div>
    </section>
  </div>
  
  <section class="results">
    <div class="inner">
      <h3>About the results</h3>
      <table>
        <tbody>
          <tr>
            <td>
              <div class="left">
                <h6>CARBON</h6>
                <p>Ecosystems store carbon (C) in their biomass, both above ground and in roots, and in the organic fraction of their soils. The density of the carbon in ecosystems varies with vegetation and soil types.</p>
                <a href="/data#carbon"><span>VIEW DATA SOURCES</span></a>
              </div>
            </td>
            <td>
              <div class="right">
                <h6>PROTECTED AREAS</h6>
                <p>Protected areas are defined as terrestrial or marine areas that are recognised, dedicated and managed, through legal or other effective means, to achieve the long-term conservation of nature with associated ecosystem services and cultural values. This includes for example national parks and nature reserves.</p>
                <a href="http://www.protectedplanet.net/" target="_blank"><span>VISIT PROTECTED PLANET</span></a>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="left">
                <h6>ECOLOGYCAL GAP ANALYSIS</h6>
                <p>An ecological gap analysis is an assessment of the extent to which a protected area system meets protection goals set by a nation or region to represent its biological diversity. In many cases, the assessment yields spatial data identifying ‘gaps’ in the current protected area system, i.e. areas of importance for biodiversity conservation that are not yet officially recognised as protected areas. The Carbon Calculator includes spatial data from ecological gap analyses in Ecuador, Brazil and Mexico. </p>
                <a href="/data#ecologycal"><span>VIEW DATA SOURCES</span></a>
                <a href="http://www.cbd.int/protected-old/gap.shtml" target="_blank"><span>LEARN MORE</span></a>
              </div>
            </td>
            <td>
              <div class="right">
                <h6>FOREST STATUS</h6>
                <p>This dataset differentiates between intact forest, fragmented/managed forest (where potential closed forest has been converted into open forest), partially deforested areas (where potential forest has been converted into woodland with low tree canopy density) and deforested areas (where potential forest cover of different density has been converted into non-forest). It was derived from a map of potential forest extent using existing ecoregion/ecozone classifications, climate data, and information on current forest distribution.</p>
                <a href="/data#fstat"><span>VIEW DATA SOURCES</span></a>
                <a href="/data#fstat"><span>LEARN MORE</span></a>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="left">
                <h6>RESTORATION POTENTIAL</h6>
                <p>The restoration potential of degraded and deforested land depends on how densely it is populated, its degree of urbanization or industrialisation, and on whether it is cropland or not. Areas with high population density, or occupied by intensively managed croplands, were considered as having low/no restoration potential, while areas with scattered cropland areas, pastures, agroforestry and all types of forest plantations were considered as providing promising opportunities for restoration. Within the latter, the dataset differentiates between potential for a) wide-scale restoration (low population density and potential to support closed forest), b) mosaic restoration (moderate population density in a mosaic landscape with several functions), and c) remote restoration (population density less than one person per square kilometre within a 500km radius).</p>
                <a href="/data#restp"><span>VIEW DATA SOURCES</span></a>
                <a href="/data#restp"><span>LEARN MORE</span></a>
              </div>
            </td>
            <td>
              <div class="right">
                <h6>CARBON SEQUESTRATION POTENTIAL</h6>
                <p>The dataseton carbon sequestration potential provides an estimate of the maximum amount of carbon that could be sequestered through restoration on deforested and degraded lands, if all restoration potential was used, all activities were successfully implemented and sufficient time provided. The dataset has been derived by comparing current estimates of carbon stocks with estimates for maximum carbon stocks for forest types by ecofloristic zone. It is important to note that the actual gain in carbon is likely to be lower due to a number of influencing factors, such as the potential impact of climatic conditions, actual time available and the way measures are implemented, which are too complex and manifold to be considered in the assessment.</p>
                <a href="/data#carbon_potential"><span>VIEW DATA SOURCES</span></a>
                <a href="/data#carbon_potential"><span>LEARN MORE</span></a>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="left">
                <h6>KEY BIODIVERSITY AREAS</h6>
                <p>Key Biodiversity Areas are globally significant sites for biodiversity conservation identified using universal standards. They include Important Bird Areas (IBAs), Important Plant Areas (IPAs), Important Sites for Freshwater Biodiversity, Ecologically and Biologically Significant Areas (EBSAs) in the High Seas and Alliance for Zero Extinction (AZE) sites.</p>
                <a href="/data#kbas"><span>VIEW DATA SOURCES</span></a>
                <a href="/http://www.biodiversitya-z.org/areas/22" target="_blank"><span>LEARN MORE</span></a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

    
  <div class="layout">  
    <footer>
            <div class="collab">
                <h6>COLLABORATING PARTNERS AND DONORS</h6>
                <ul>
                    <li><a class="cbd" href="http://www.cbd.int/" target="_blank">CBD</a></li>
                    <li><a class="lifeweb" href="http://www.cbd.int/lifeweb/" target="_blank">LifeWeb</a></li>
                    <li><a class="unep-wcmc" href="http://www.unep-wcmc.org/" target="_blank">UNEP-WCMC</a></li>
                    <li><a class="vizzuality" href="http://www.vizzuality.com" target="_blank">Vizzuality</a></li>
                    <li class="last"><a class="federal_agency" href="http://www.bfn.de/index+M52087573ab0.html" target="_blank">Federal Agency for Nature Conservation</a></li>
                </ul>
                <p>Feel free to contact us for any doubt or suggestion at <a href="mailto:contac@cbd.ing">contact[at]cbd.int</a></p>
            </div>
    </footer>
  </div>  
</body>
</html>
