<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 8 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
 -->

  <!-- CSS: implied media="all" -->
  <link rel="stylesheet" href="css/style.css?v=2">

  <!-- Uncomment if you are specifically targeting less enabled mobile browsers
  <link rel="stylesheet" media="handheld" href="css/handheld.css?v=2">  -->

  <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
  <script src="js/libs/modernizr-2.0.6.js"></script>

</head>

<body class="out">
  <div class="layout">
    <header>
      <h1><a href="/">CARBON CALCULATOR</h1>
      <ul>
        <li><a href="/tool">TOOL</a></li>
        <li><a href="/about">ABOUT</a></li>
      </ul>
    </header>
    
    <h2>Data sources</h2>
    
    <article class="data_sources">
      <h4>Carbon</h4>
      <h6>BENIN, BURUNDI, CAMEROON, CÔTE D’LVOIRE, GHANA, GUINEA, KENYA, RWANDA, SIERRA LEONE, TOGO, UGANDA, ZAMBIA</h6>
      <ul>
        <li>Baccini, A., Laporte, N., Goetz, S.J., Sun, M., Dong, H. 2008. A first map of tropical Africa’s above-ground biomass derived from satellite imagery. Environmental Research Letters 3 (4) 045011.</li>
        <li>Ruesch, A.S., Gibbs, H. 2008. New IPCC Tier-1 Global Biomass Carbon Map for the Year 2000. Available online from the Carbon Dioxide Information Analysis Center [http://cdiac.ornl.gov/], Oak Ridge National Laboratory, Oak Ridge, Tennessee, USA.</li>
        <li>Scharlemann, J.P.W., Hiederer, R., Kapos, V. in prep. Global map of terrestrial soil organic carbon stocks. A 1-km dataset derived from the Harmonized World Soil Database. UNEP-WCMC & EU-JRC, Cambridge, UK.</li>
      </ul>
      <h6>CAMBODIA</h6>
      <ul>
        <li>Kingdom of Cambodia 2007. Forest Cover Assessment for Year 2005/2006. Final Report. Kingdom of Cambodia, Forestry Administration, Watershed Management and Forestland Office, Phnom Penh, Cambodia.</li>
        <li>JICA 2002. Land Use Map of Cambodia 2002. Japan International Cooperation Agency, Tokyo, Japan.</li>
        <li>Scharlemann, J.P.W., Hiederer, R., Kapos, V. in prep. Global map of terrestrial soil organic carbon stocks. A 1-km dataset derived from the Harmonized World Soil Database. UNEP-WCMC & EU-JRC, Cambridge, UK.</li>
      </ul>

     <p>Values for carbon content in different vegetation classes were from a number of different literature sources. These are:</p>
     <ul>
         <li>Baker, T.R., Phillips, O.L., Malhi, Y., Almeida, S., Arroyo, L., Di Fiore, A., Erwin, T., Higuchi, N., Killeen, T.J., Laurance, S.G., Laurance, W.F., Lewis, S.L., Monteagudo, A., Neill, D.A., Núñez Vargas, P., Pitman, N.C.A., Silva, J.N.M., Vásquez Martínez, R. 2004. Increasing biomass in Amazonian forest plots. Philosophical Transactions of the Royal Society B-Biological Sciences 359, 353-365.</li>

         <li>Chave, J., Olivier, J., Bongers, F., Chatelet, P., Forget, P.M., van der Meer, P., Norden, N., Riera, B., Charles-Dominique, P. 2008. Above-ground biomass and productivity in a rain forest of eastern South America. Journal of Tropical Ecology 24, 355-366.</li>

    <li>de Koning, F., Olschewski, R., Veldkamp, E., Benítez, P., López-Ulloa, M., Schlichter, T., de Urquiza, M. 2005. The Ecological and Economic Potential of Carbon Sequestration in Forests: Examples from South America. Ambio 4, 224-229.</li>

    <li>Faber-Langendoen, D., Gentry, A.H. 1991. The Structure and Diversity of Rain Forests at Bajo Calima, Choco Regio, Western Colombia. Biotropica 23, 2-11.</li>

    <li>Fehse, J., Hofstede, R., Aguirre, N., Paladines, C., Kooijman, A., Sevink, J. 2002. High altitude tropical secondary forests: a competitive carbon sink? Forest Ecology and Management 163, 9-25.</li>

    <li>Fromard, F., Puig, H., Mougin, E., Marty, G., Betoulle, J.L., Cadamuro, L. 1998. Structure, above-ground biomass and dynamics of mangrove ecosystems: new data from French Guiana. Oecologia 115, 39-53. Cited in Komiyama et al. 2008.</li>

    <li>Golley, F.B., Mcginnis, J.T., Clements, R.G., Child, G.I., Duever, M.J. 1975. Mineral Cycling in a Tropical Moist Forest Ecosystem. Georgia University Press, Athens, Greece. Cited in Komiyama et al. 2008. Allometry, biomass, and productivity of mangrove forests: a review. Aquatic Botany 89, 128-137.</li>

    <li>Hofstede, R. 1999. El Páramo como espacio para la fijación de carbono atmosférico. In: El Páramo como espacio de mitigación de carbono atmosfèrico. Serie Páramo 1. (G. Medina, P. Mena, and C. Josse, Eds.) GTP/Abya Yala, Quito, Ecuador. pp. 7-10.</li>

    <li>Komiyama, A., Ong, J.E., Poungparn, S. 2008. Allometry, biomass, and productivity of mangrove forests: a review. Aquatic Botany 89, 128-137.</li>

    <li>Leuschner, C., Moser, G., Bertsch, C., Röderstein, M., Hertel, D. 2007. Large altitudinal increase in tree root/shoot ratio in tropical mountain forests of Ecuador. Basic and Applied Ecology 8, 219-230.</li>

    <li>Moser, G., Röderstein, M., Soethe, N., Hertel, D., Leuschner, C. 2008. Altitudinal Changes in Stand Structure and Biomass Allocation of Tropical Mountain Forests in Relation to Microclimate and Soil Chemistry. In: Gradients in a Tropical Mountain Ecosystem of Ecuador. (E. Beck, J. +. Bendix, I. Kottke, F. Makeschin, and R. Mosandl, Eds.) Springer Berlin Heidelberg, pp. 229-242.</li>

    <li>Padrón, E., Navarro-Cerrillo, R.M. 2007. Aboveground biomass in Prosopis pallida (Humb. and Bonpl. ex Willd.)H. B. K. ecosystems using Landsat 7 ETM+ images. Revista Chilena de Historia Natural 80, 43-53.</li>

    <li>Pitman, N.C.A., Terborgh, J.W., Silman, M.R., Núñez, V., Neill, D.A., Cer+¦n, C.E., Palacios, W.A., Aulestia, M. 2001. Dominance and distribution of tree species in upper Amazonian terra firme forests. Ecology 82, 2101-2117.</li>

    <li>Ruesch, A.S., Gibbs, H. 2008. New IPCC Tier-1 Global Biomass Carbon Map for the Year 2000. Available online from the Carbon Dioxide Information Analysis Center [http://cdiac.ornl.gov/], Oak Ridge National Laboratory, Oak Ridge, Tennessee, USA.</li>

    <li>Stegen, J.C., Swenson, N.G., Valencia, R., Enquist, B.J., Thompson, J. 2009. Above-ground forest biomass is not consistently related to wood density in tropical forests. Global Ecology and Biogeography 18, 617-625.</li>

    <li>Valencia, R., Condit, R., Muller-Landau, H.C., Hernandez, C., Navarrete, H. 2009. Dissecting biomass dynamics in a large Amazonian forest plot. Journal of Tropical Ecology 25, 473-482.</li>
  </ul>
  <h6>TANZANIA</h6>
  <ul>
    <li>Baccini, A., Laporte, N., Goetz, S.J., Sun, M., Dong, H. 2008. A first map of tropical Africa's above-ground biomass derived from satellite imagery. Environmental Research Letters 3 (4) 045011.</li>
    <li>FAO 2001. Global Forest Resources Assessment 2000. FAO Forestry Paper 140. Food and Agriculture Organization of the United Nations, Rome, Italy.</li>
    <li>Gibbs, H.K., Brown, S. 2007. Geographical distribution of woody biomass carbon stocks in tropical Africa: an updated database for 2000. Carbon Dioxide Information Center, Oak Ridge National Laboratory, Oak Ridge, TN. [http://cdiac.ornl.gov/epubs/ndp/ndp0555/ndp05b.html].</li>
    <li>Ruesch, A., Gibbs, H.K. 2008. New IPCC Tier-1 Global Biomass Carbon Map For the Year 2000. Available online from the Carbon Dioxide Information Analysis Center [http://cdiac.ornl.gov/], Oak Ridge National Laboratory, Oak Ridge, Tennessee, USA.</li>
    <li>Scharlemann, J.P.W., Hiederer, R., Kapos, V. in prep. Global map of terrestrial soil organic carbon stocks. A 1-km dataset derived from the Harmonized World Soil Database. UNEP-WCMC & EU-JRC, Cambridge, UK.</li>
  </ul>

  <h6>REST OF THE WORLD</h6> 
  <ul>
    <li>Ruesch, A., Gibbs, H.K. 2008. New IPCC Tier-1 Global Biomass Carbon Map For the Year 2000. Available online from the Carbon Dioxide Information Analysis Center [http://cdiac.ornl.gov/], Oak Ridge National Laboratory, Oak Ridge, Tennessee.</li>
    <li>Scharlemann, J.P.W., Hiederer, R., Kapos, V. in prep. Global map of terrestrial soil organic carbon stocks. A 1-km dataset derived from the Harmonized World Soil Database. UNEP-WCMC & EU-JRC, Cambridge, UK.</li>
  </ul>

</article>
    
    <article class="data_sources" id="carbon">
    <h4>protected areas</h4> 
    <ul>
      <li> <a href="http://protectedplanet.org">protected planet</a></li>
    </ul>

    <h4>key biodiversity areas</h4>
      <ul>
        <li>BirdLife International and Conservation International 2010. Key Biodiversity Areas (KBAs) - including Important Bird Areas (IBAs) maintained by BirdLife International and Key Biodiversity Areas maintained by Conservation International. BirdLife International, Cambridge, UK, and Conservation International, Washington DC, USA.</li>
        
      </ul>

    <h4>key biodiversity areas</h4>
      <ul>
        <li>BirdLife International and Conservation International 2010. Key Biodiversity Areas (KBAs) - including Important Bird Areas (IBAs) maintained by BirdLife International and Key Biodiversity Areas maintained by Conservation International. BirdLife International, Cambridge, UK, and Conservation International, Washington DC, USA.</li>
        
      </ul>

    <h4>forest status</h4>
    <p>The different classes of forest degradation were derived by comparing spatial data on the potential extent of forest with spatial data on the current extent of forest.</p>
    <ul>
      <li>Bryant, D., Nielsen, D., & Tangley, L. 1997. The last frontier forests: ecosystems and economies on the edge. WRI (World Resources Institute), Washington, D.C.</li>
      <li>FAO 1999. A concept and strategy for ecological zoning for the global forest resources assessment 2000, FAO, Rome</li>
      <li>Hansen, M. C., DeFries, R. S., Townshend, J. R. G., Marufu, L., & Sohlberg, R. 2002. Development of a MODIS percent tree cover validation data set for Western Province, Zambia. Remote Sensing of Environment, 83, 320-335.</li>
      <li>Hansen, M. C., DeFries, R. S., Townshend, J. R. G., Carroll, M., Dimiceli, C., & Sohlberg, R. A. 2003. Global percent tree cover at a spatial resolution of 500 meters: First results of the MODIS vegetation continuous fields algorithm, Earth Interactions, 7, DOI: 10.1175/1087-3562</li>
      <li>Hijmans, R. J., Cameron S. E., Parra J. L., Jones P. G. & Jarvis, A. 2005. Very high resolution interpolated climate surfaces for global land areas. International Journal of Climatology, 25, 1965-1978.</li>
      <li>Olson, D. M., E. Dinerstein, E. D. Wikramanayake, N. D. Burgess, G. V. N. Powell, E. C. Underwood, J. A. D’amico, I. Itoua, H. E. Strand, J. C. Morrison, C. J. Loucks, T. F. Allnutt, T. H. Ricketts, Y. Kura, J. F. Lamoreux, W. W. Wettengel, P. Hedao, and K. R. Kassem. 2001. Terrestrial ecoregions of the World: A new map of life on Earth. BioScience 51(10): 1-6.</li>
      <li>SDSU 2011. Global forest extent map derived using MODIS 250m data. Unpublished dataset.</li>
      <li>Wieser, G.; Tausz, M. (Eds.). 2007. Trees at their upper limit: treelife limitation at the alpine timberline. Series: Plant Ecophysiology , Vol. 5. Springer 232 p</li>
      <li>Zomer R.J., Trabucco A., Verchot L.V., Muys B. 2008 Land area eligible for afforestation and reforestation within the clean development mechanism: a global analysis of the impact of forest definition, Mitig. Adapt. Strateg. Glob. Change 13:219–239</li>
    </ul>
    <p>Data on intact forest areas was used from: </p>
    <ul>
      <li>Potapov, P., A. Yaroshenko, S. Turubanova, M. Dubinin, L. Laestadius, C. Thies, D. Aksenov, A. Egorov, Y. Yesipova, I. Glushkov, M. Karpachevskiy, A. Kostikova, A. Manisha, E. Tsybikova, and I. Zhuravleva, 2008: Mapping the World’s Intact Forest Landscapes by Remote Sensing. Ecology and Society, 13 (2) URL: <a href="http://www.ecologyandsociety.org/vol13/iss2/art51/"> http://www.ecologyandsociety.org/vol13/iss2/art51/</a></li>
    </ul>

    <h4>Restoration potential </h4>
    <p>Opportunities for restoration of degraded lands were assessed by creating a map of land use intensity (human pressure) which in turn was used to classify degraded lands by suitability for different types of restoration. The following data was used:</p>
    <ul>
      <li>Bartholomé, E.; Belward, A. S. 2005. GLC2000: a new approach to global land cover mapping from Earth observation data. International Journal of Remote Sensing, Volume 26, Number 9, 2005 , pp. 1959-1977(19) </li>
      <li>National Imagery and Mapping Agency. 1997. Vector Map Level 0 (VMAP0), ed. 003.Washington (DC):NIMA.</li>
      <li>Oak Ridge National Laboratory 2005. LandScan 2005 Global Population Database http://www.ornl.gov/sci/landscan/.</li>
      <li>Pittman K., Hansen M.C., Becker-Reshef I., Potapov P.V., Justice C.O. 2010 Estimating Global Cropland Extent with Multi-year MODIS Data. Remote Sensing, 2, 1844-1863; doi:10.3390/rs2071844</li>
      <li>Sanderson, E. W., M. Jaiteh, M. A. Levy, K. H. Redford, A. V. Wannebo, and G. Woolmer. 2002. The human footprint and the last of the wild. BioScience 52(10):891-904.</li>

    </ul>

    <h4>carbon sequestration potential</h4>
    <ul>
      <li>Bartholomé, E.; Belward, A. S. 2005. GLC2000: a new approach to global land cover mapping from Earth observation data. International Journal of Remote Sensing, Volume 26, Number 9, 2005 , pp. 1959-1977(19) </li>
      <li>FAO 2001. Global Forest Resources Assessment 2000. FAO Forestry Paper 140. Food and Agriculture Organization of the United Nations, Rome, Italy.</li>
      <li>IPCC 2006. 2006 IPCC Guidelines for National Greenhouse Gas Inventories. Volume 4. Institute for Global Environmental Strategies (IGES), Japan.</li>
      <li>Ruesch, A.S., Gibbs, H. 2008. New IPCC Tier-1 Global Biomass Carbon Map for the Year 2000. Available online from the Carbon Dioxide Information Analysis Center [http://cdiac.ornl.gov/], Oak Ridge National Laboratory, Oak Ridge, Tennessee, USA.</li>
    </ul>

    <h4>ecological gap analyses</h4>
    <h6>ecuador</h6>
    <ul>
      <li>Campos, F., Peralvo, M., Cuesta-Camacho, F., Luna, S. 2007. Análisis de vacíos y áreas prioritarias para la conservación de la biodiversidad en el Ecuador continental. Instituto Nazca de Investigaciones Marinas, EcoCiencia, Ministerio del Ambiente, The Nature Conservancy, Conservación Internacional, Proyecto GEF: Ecuador Sistema Nacional de Áreas Protegidas, BirdLife International y Aves & Conservación, Quito, Ecuador.</li>
      <li>Cuesta, F., Peralvo, M., Ganzenmüller, A., Sáenz, M., Novoa, J., Riofrío, M.G., Beltran 2006. Identificación de vacíos y prioridades de conservación para la biodiversidad terrestre en el Ecuador Continental. Reporte Técnico no publicado. Fundación EcoCiencia, The Nature Conservancy, Conservación Internacional, y Ministerio del Ambiente del Ecuador, Quito, Ecuador.</li>

    </ul>


    </article>

    
    <footer>
    {% include "_footer.html" %}
    </footer>   
  </div>
</body>
</html>
